
{% if include.class %}
  {% assign thisClass = include.class %}
{% else %}
  {% assign thisClass = include.color | downcase | replace: ' ', '-' %}
{% endif %}

{% assign thisColor = include.color | capitalize %}

<div class="swatch md-w33ct minw33ct maxw33ct f1 md-float-left mb4">
  <div class="color h4 md-h15 bg-{{ thisClass }}"></div>
  <div class="mt2">
    <h3 class="sans-s6 fw300">{{ thisColor }}</h3>
    <ul class="list-reset mb0 mt05">
      <li class="sans-s3 fw400 gray-50">{{ include.hsl }}</li>
      <li class="sans-s3 fw400 gray-50">#{{ include.hex }}</li>
      <li class="sans-s3 fw600">.{{ thisClass }}</li>
    </ul>
  </div>
</div>
