.background-blue {
  background-color: #056dd4 !important; }

.background-brightmint {
  background-color: #00df99 !important; }

.background-cream {
  background-color: #f5f5f3 !important; }

.background-gold {
  background-color: #f4b400 !important; }

.background-green {
  background-color: #0baf00 !important; }

.background-red {
  background-color: #be4900 !important; }

.background-trueblack {
  background-color: #000000 !important; }

.background-textblack {
  background-color: #333333 !important; }

.background-darkgray {
  background-color: #555555 !important; }

.background-mediumgray {
  background-color: #8e8e8e !important; }

.background-mediumgray-trans {
  background-color: rgba(0, 0, 0, 0.4) !important; }

.background-lightgray {
  background-color: #d3d3d3 !important; }

.background-lightestgray {
  background-color: #f5f5f3 !important; }

.background-white {
  background-color: #ffffff !important; }

.bt1px {
  border-top: 1px !important; }

.br1px {
  border-left: 1px !important; }

.bb1px {
  border-bottom: 1px !important; }

.bl1px {
  border-left: 1px !important; }

.by1px {
  border-top: 1px !important;
  border-bottom: 1px !important; }

.bx1px {
  border-left: 1px !important;
  border-right: 1px !important; }

.b1px {
  border: 1px !important; }

.bt2px {
  border-top: 2px !important; }

.br2px {
  border-left: 2px !important; }

.bb2px {
  border-bottom: 2px !important; }

.bl2px {
  border-left: 2px !important; }

.by2px {
  border-top: 2px !important;
  border-bottom: 2px !important; }

.bx2px {
  border-left: 2px !important;
  border-right: 2px !important; }

.b2px {
  border: 2px !important; }

.btn1px {
  border-top: -1px !important; }

.brn1px {
  border-left: -1px !important; }

.bbn1px {
  border-bottom: -1px !important; }

.bln1px {
  border-left: -1px !important; }

.byn1px {
  border-top: -1px !important;
  border-bottom: -1px !important; }

.bxn1px {
  border-left: -1px !important;
  border-right: -1px !important; }

.bn1px {
  border: -1px !important; }

.btn2px {
  border-top: -2px !important; }

.brn2px {
  border-left: -2px !important; }

.bbn2px {
  border-bottom: -2px !important; }

.bln2px {
  border-left: -2px !important; }

.byn2px {
  border-top: -2px !important;
  border-bottom: -2px !important; }

.bxn2px {
  border-left: -2px !important;
  border-right: -2px !important; }

.bn2px {
  border: -2px !important; }

.bt05 {
  border-top: 0.25rem !important; }

.br05 {
  border-left: 0.25rem !important; }

.bb05 {
  border-bottom: 0.25rem !important; }

.bl05 {
  border-left: 0.25rem !important; }

.by05 {
  border-top: 0.25rem !important;
  border-bottom: 0.25rem !important; }

.bx05 {
  border-left: 0.25rem !important;
  border-right: 0.25rem !important; }

.b05 {
  border: 0.25rem !important; }

.bt1 {
  border-top: 0.5rem !important; }

.br1 {
  border-left: 0.5rem !important; }

.bb1 {
  border-bottom: 0.5rem !important; }

.bl1 {
  border-left: 0.5rem !important; }

.by1 {
  border-top: 0.5rem !important;
  border-bottom: 0.5rem !important; }

.bx1 {
  border-left: 0.5rem !important;
  border-right: 0.5rem !important; }

.b1 {
  border: 0.5rem !important; }

.bt105 {
  border-top: 0.75rem !important; }

.br105 {
  border-left: 0.75rem !important; }

.bb105 {
  border-bottom: 0.75rem !important; }

.bl105 {
  border-left: 0.75rem !important; }

.by105 {
  border-top: 0.75rem !important;
  border-bottom: 0.75rem !important; }

.bx105 {
  border-left: 0.75rem !important;
  border-right: 0.75rem !important; }

.b105 {
  border: 0.75rem !important; }

.bt2 {
  border-top: 1rem !important; }

.br2 {
  border-left: 1rem !important; }

.bb2 {
  border-bottom: 1rem !important; }

.bl2 {
  border-left: 1rem !important; }

.by2 {
  border-top: 1rem !important;
  border-bottom: 1rem !important; }

.bx2 {
  border-left: 1rem !important;
  border-right: 1rem !important; }

.b2 {
  border: 1rem !important; }

.bt3 {
  border-top: 1.5rem !important; }

.br3 {
  border-left: 1.5rem !important; }

.bb3 {
  border-bottom: 1.5rem !important; }

.bl3 {
  border-left: 1.5rem !important; }

.by3 {
  border-top: 1.5rem !important;
  border-bottom: 1.5rem !important; }

.bx3 {
  border-left: 1.5rem !important;
  border-right: 1.5rem !important; }

.b3 {
  border: 1.5rem !important; }

.bt4 {
  border-top: 2rem !important; }

.br4 {
  border-left: 2rem !important; }

.bb4 {
  border-bottom: 2rem !important; }

.bl4 {
  border-left: 2rem !important; }

.by4 {
  border-top: 2rem !important;
  border-bottom: 2rem !important; }

.bx4 {
  border-left: 2rem !important;
  border-right: 2rem !important; }

.b4 {
  border: 2rem !important; }

.bt5 {
  border-top: 2.5rem !important; }

.br5 {
  border-left: 2.5rem !important; }

.bb5 {
  border-bottom: 2.5rem !important; }

.bl5 {
  border-left: 2.5rem !important; }

.by5 {
  border-top: 2.5rem !important;
  border-bottom: 2.5rem !important; }

.bx5 {
  border-left: 2.5rem !important;
  border-right: 2.5rem !important; }

.b5 {
  border: 2.5rem !important; }

.bt6 {
  border-top: 3rem !important; }

.br6 {
  border-left: 3rem !important; }

.bb6 {
  border-bottom: 3rem !important; }

.bl6 {
  border-left: 3rem !important; }

.by6 {
  border-top: 3rem !important;
  border-bottom: 3rem !important; }

.bx6 {
  border-left: 3rem !important;
  border-right: 3rem !important; }

.b6 {
  border: 3rem !important; }

.bt7 {
  border-top: 3.5rem !important; }

.br7 {
  border-left: 3.5rem !important; }

.bb7 {
  border-bottom: 3.5rem !important; }

.bl7 {
  border-left: 3.5rem !important; }

.by7 {
  border-top: 3.5rem !important;
  border-bottom: 3.5rem !important; }

.bx7 {
  border-left: 3.5rem !important;
  border-right: 3.5rem !important; }

.b7 {
  border: 3.5rem !important; }

.bt8 {
  border-top: 4rem !important; }

.br8 {
  border-left: 4rem !important; }

.bb8 {
  border-bottom: 4rem !important; }

.bl8 {
  border-left: 4rem !important; }

.by8 {
  border-top: 4rem !important;
  border-bottom: 4rem !important; }

.bx8 {
  border-left: 4rem !important;
  border-right: 4rem !important; }

.b8 {
  border: 4rem !important; }

.bt9 {
  border-top: 4.5rem !important; }

.br9 {
  border-left: 4.5rem !important; }

.bb9 {
  border-bottom: 4.5rem !important; }

.bl9 {
  border-left: 4.5rem !important; }

.by9 {
  border-top: 4.5rem !important;
  border-bottom: 4.5rem !important; }

.bx9 {
  border-left: 4.5rem !important;
  border-right: 4.5rem !important; }

.b9 {
  border: 4.5rem !important; }

.bt10 {
  border-top: 5rem !important; }

.br10 {
  border-left: 5rem !important; }

.bb10 {
  border-bottom: 5rem !important; }

.bl10 {
  border-left: 5rem !important; }

.by10 {
  border-top: 5rem !important;
  border-bottom: 5rem !important; }

.bx10 {
  border-left: 5rem !important;
  border-right: 5rem !important; }

.b10 {
  border: 5rem !important; }

.bt15 {
  border-top: 7.5rem !important; }

.br15 {
  border-left: 7.5rem !important; }

.bb15 {
  border-bottom: 7.5rem !important; }

.bl15 {
  border-left: 7.5rem !important; }

.by15 {
  border-top: 7.5rem !important;
  border-bottom: 7.5rem !important; }

.bx15 {
  border-left: 7.5rem !important;
  border-right: 7.5rem !important; }

.b15 {
  border: 7.5rem !important; }

.bt20 {
  border-top: 10rem !important; }

.br20 {
  border-left: 10rem !important; }

.bb20 {
  border-bottom: 10rem !important; }

.bl20 {
  border-left: 10rem !important; }

.by20 {
  border-top: 10rem !important;
  border-bottom: 10rem !important; }

.bx20 {
  border-left: 10rem !important;
  border-right: 10rem !important; }

.b20 {
  border: 10rem !important; }

.bt25 {
  border-top: 12.5rem !important; }

.br25 {
  border-left: 12.5rem !important; }

.bb25 {
  border-bottom: 12.5rem !important; }

.bl25 {
  border-left: 12.5rem !important; }

.by25 {
  border-top: 12.5rem !important;
  border-bottom: 12.5rem !important; }

.bx25 {
  border-left: 12.5rem !important;
  border-right: 12.5rem !important; }

.b25 {
  border: 12.5rem !important; }

.bt30 {
  border-top: 15rem !important; }

.br30 {
  border-left: 15rem !important; }

.bb30 {
  border-bottom: 15rem !important; }

.bl30 {
  border-left: 15rem !important; }

.by30 {
  border-top: 15rem !important;
  border-bottom: 15rem !important; }

.bx30 {
  border-left: 15rem !important;
  border-right: 15rem !important; }

.b30 {
  border: 15rem !important; }

.bt40 {
  border-top: 20rem !important; }

.br40 {
  border-left: 20rem !important; }

.bb40 {
  border-bottom: 20rem !important; }

.bl40 {
  border-left: 20rem !important; }

.by40 {
  border-top: 20rem !important;
  border-bottom: 20rem !important; }

.bx40 {
  border-left: 20rem !important;
  border-right: 20rem !important; }

.b40 {
  border: 20rem !important; }

.bt50 {
  border-top: 25rem !important; }

.br50 {
  border-left: 25rem !important; }

.bb50 {
  border-bottom: 25rem !important; }

.bl50 {
  border-left: 25rem !important; }

.by50 {
  border-top: 25rem !important;
  border-bottom: 25rem !important; }

.bx50 {
  border-left: 25rem !important;
  border-right: 25rem !important; }

.b50 {
  border: 25rem !important; }

.bt-blue {
  border-top-color: #056dd4 !important; }

.br-blue {
  border-left-color: #056dd4 !important; }

.bb-blue {
  border-bottom-color: #056dd4 !important; }

.bl-blue {
  border-left-color: #056dd4 !important; }

.by-blue {
  border-top-color: #056dd4 !important;
  border-bottom-color: #056dd4 !important; }

.bx-blue {
  border-left-color: #056dd4 !important;
  border-right-color: #056dd4 !important; }

.b-blue {
  border-color: #056dd4 !important; }

.bt-brightmint {
  border-top-color: #00df99 !important; }

.br-brightmint {
  border-left-color: #00df99 !important; }

.bb-brightmint {
  border-bottom-color: #00df99 !important; }

.bl-brightmint {
  border-left-color: #00df99 !important; }

.by-brightmint {
  border-top-color: #00df99 !important;
  border-bottom-color: #00df99 !important; }

.bx-brightmint {
  border-left-color: #00df99 !important;
  border-right-color: #00df99 !important; }

.b-brightmint {
  border-color: #00df99 !important; }

.bt-cream {
  border-top-color: #f5f5f3 !important; }

.br-cream {
  border-left-color: #f5f5f3 !important; }

.bb-cream {
  border-bottom-color: #f5f5f3 !important; }

.bl-cream {
  border-left-color: #f5f5f3 !important; }

.by-cream {
  border-top-color: #f5f5f3 !important;
  border-bottom-color: #f5f5f3 !important; }

.bx-cream {
  border-left-color: #f5f5f3 !important;
  border-right-color: #f5f5f3 !important; }

.b-cream {
  border-color: #f5f5f3 !important; }

.bt-gold {
  border-top-color: #f4b400 !important; }

.br-gold {
  border-left-color: #f4b400 !important; }

.bb-gold {
  border-bottom-color: #f4b400 !important; }

.bl-gold {
  border-left-color: #f4b400 !important; }

.by-gold {
  border-top-color: #f4b400 !important;
  border-bottom-color: #f4b400 !important; }

.bx-gold {
  border-left-color: #f4b400 !important;
  border-right-color: #f4b400 !important; }

.b-gold {
  border-color: #f4b400 !important; }

.bt-green {
  border-top-color: #0baf00 !important; }

.br-green {
  border-left-color: #0baf00 !important; }

.bb-green {
  border-bottom-color: #0baf00 !important; }

.bl-green {
  border-left-color: #0baf00 !important; }

.by-green {
  border-top-color: #0baf00 !important;
  border-bottom-color: #0baf00 !important; }

.bx-green {
  border-left-color: #0baf00 !important;
  border-right-color: #0baf00 !important; }

.b-green {
  border-color: #0baf00 !important; }

.bt-red {
  border-top-color: #be4900 !important; }

.br-red {
  border-left-color: #be4900 !important; }

.bb-red {
  border-bottom-color: #be4900 !important; }

.bl-red {
  border-left-color: #be4900 !important; }

.by-red {
  border-top-color: #be4900 !important;
  border-bottom-color: #be4900 !important; }

.bx-red {
  border-left-color: #be4900 !important;
  border-right-color: #be4900 !important; }

.b-red {
  border-color: #be4900 !important; }

.bt-trueblack {
  border-top-color: #000000 !important; }

.br-trueblack {
  border-left-color: #000000 !important; }

.bb-trueblack {
  border-bottom-color: #000000 !important; }

.bl-trueblack {
  border-left-color: #000000 !important; }

.by-trueblack {
  border-top-color: #000000 !important;
  border-bottom-color: #000000 !important; }

.bx-trueblack {
  border-left-color: #000000 !important;
  border-right-color: #000000 !important; }

.b-trueblack {
  border-color: #000000 !important; }

.bt-textblack {
  border-top-color: #333333 !important; }

.br-textblack {
  border-left-color: #333333 !important; }

.bb-textblack {
  border-bottom-color: #333333 !important; }

.bl-textblack {
  border-left-color: #333333 !important; }

.by-textblack {
  border-top-color: #333333 !important;
  border-bottom-color: #333333 !important; }

.bx-textblack {
  border-left-color: #333333 !important;
  border-right-color: #333333 !important; }

.b-textblack {
  border-color: #333333 !important; }

.bt-darkgray {
  border-top-color: #555555 !important; }

.br-darkgray {
  border-left-color: #555555 !important; }

.bb-darkgray {
  border-bottom-color: #555555 !important; }

.bl-darkgray {
  border-left-color: #555555 !important; }

.by-darkgray {
  border-top-color: #555555 !important;
  border-bottom-color: #555555 !important; }

.bx-darkgray {
  border-left-color: #555555 !important;
  border-right-color: #555555 !important; }

.b-darkgray {
  border-color: #555555 !important; }

.bt-mediumgray {
  border-top-color: #8e8e8e !important; }

.br-mediumgray {
  border-left-color: #8e8e8e !important; }

.bb-mediumgray {
  border-bottom-color: #8e8e8e !important; }

.bl-mediumgray {
  border-left-color: #8e8e8e !important; }

.by-mediumgray {
  border-top-color: #8e8e8e !important;
  border-bottom-color: #8e8e8e !important; }

.bx-mediumgray {
  border-left-color: #8e8e8e !important;
  border-right-color: #8e8e8e !important; }

.b-mediumgray {
  border-color: #8e8e8e !important; }

.bt-mediumgray-trans {
  border-top-color: rgba(0, 0, 0, 0.4) !important; }

.br-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important; }

.bb-mediumgray-trans {
  border-bottom-color: rgba(0, 0, 0, 0.4) !important; }

.bl-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important; }

.by-mediumgray-trans {
  border-top-color: rgba(0, 0, 0, 0.4) !important;
  border-bottom-color: rgba(0, 0, 0, 0.4) !important; }

.bx-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important;
  border-right-color: rgba(0, 0, 0, 0.4) !important; }

.b-mediumgray-trans {
  border-color: rgba(0, 0, 0, 0.4) !important; }

.bt-lightgray {
  border-top-color: #d3d3d3 !important; }

.br-lightgray {
  border-left-color: #d3d3d3 !important; }

.bb-lightgray {
  border-bottom-color: #d3d3d3 !important; }

.bl-lightgray {
  border-left-color: #d3d3d3 !important; }

.by-lightgray {
  border-top-color: #d3d3d3 !important;
  border-bottom-color: #d3d3d3 !important; }

.bx-lightgray {
  border-left-color: #d3d3d3 !important;
  border-right-color: #d3d3d3 !important; }

.b-lightgray {
  border-color: #d3d3d3 !important; }

.bt-lightestgray {
  border-top-color: #f5f5f3 !important; }

.br-lightestgray {
  border-left-color: #f5f5f3 !important; }

.bb-lightestgray {
  border-bottom-color: #f5f5f3 !important; }

.bl-lightestgray {
  border-left-color: #f5f5f3 !important; }

.by-lightestgray {
  border-top-color: #f5f5f3 !important;
  border-bottom-color: #f5f5f3 !important; }

.bx-lightestgray {
  border-left-color: #f5f5f3 !important;
  border-right-color: #f5f5f3 !important; }

.b-lightestgray {
  border-color: #f5f5f3 !important; }

.bt-white {
  border-top-color: #ffffff !important; }

.br-white {
  border-left-color: #ffffff !important; }

.bb-white {
  border-bottom-color: #ffffff !important; }

.bl-white {
  border-left-color: #ffffff !important; }

.by-white {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important; }

.bx-white {
  border-left-color: #ffffff !important;
  border-right-color: #ffffff !important; }

.b-white {
  border-color: #ffffff !important; }
