@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 300;
  src: url("/18Franklin-Light.woff2") format("woff2"), url("/18Franklin-Light.woff") format("woff"), url("/18Franklin-Light.ttf") format("truetype"); }

@font-face {
  font-family: '18Franklin-webfont';
  font-style: italic;
  font-weight: 300;
  src: url("/18Franklin-LightItalic.woff2") format("woff2"), url("/18Franklin-LightItalic.woff") format("woff"), url("/18Franklin-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 400;
  src: url("/18Franklin-Regular.woff2") format("woff2"), url("/18Franklin-Regular.woff") format("woff"), url("/18Franklin-Regular.ttf") format("truetype"); }

@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 500;
  src: url("/18Franklin-Medium.woff2") format("woff2"), url("/18Franklin-Medium.woff") format("woff"), url("/18Franklin-Medium.ttf") format("truetype"); }

@font-face {
  font-family: '18Franklin-webfont';
  font-style: normal;
  font-weight: 700;
  src: url("/18Franklin-Bold.woff2") format("woff2"), url("/18Franklin-Bold.woff") format("woff"), url("/18Franklin-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("/RobotoMono-Regular.ttf"); }

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url("/RobotoMono-Bold.ttf"); }

/*
-----------------------------
Background
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Border Color
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Border Radius
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Border
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Clear
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Color
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Float
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Font Face
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Font Size
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Font Style
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Font Weight
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Font Weight
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Height
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Letterspacing
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Line Height
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Line Length
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Margin
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Opentype
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Order
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Padding
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Square
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Text Decoration
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Text Transform
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
/*
-----------------------------
Width
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/
.background-blue {
  background-color: #056dd4 !important; }

.background-brightmint {
  background-color: #00df99 !important; }

.background-cream {
  background-color: #f5f5f3 !important; }

.background-gold {
  background-color: #f4b400 !important; }

.background-green {
  background-color: #0baf00 !important; }

.background-red {
  background-color: #be4900 !important; }

.background-trueblack {
  background-color: #000000 !important; }

.background-textblack {
  background-color: #333333 !important; }

.background-darkgray {
  background-color: #555555 !important; }

.background-mediumgray {
  background-color: #8e8e8e !important; }

.background-mediumgray-trans {
  background-color: rgba(0, 0, 0, 0.4) !important; }

.background-lightgray {
  background-color: #d3d3d3 !important; }

.background-lightestgray {
  background-color: #f5f5f3 !important; }

.background-white {
  background-color: #ffffff !important; }

.bt-blue {
  border-top-color: #056dd4 !important; }

.br-blue {
  border-left-color: #056dd4 !important; }

.bb-blue {
  border-bottom-color: #056dd4 !important; }

.bl-blue {
  border-left-color: #056dd4 !important; }

.by-blue {
  border-top-color: #056dd4 !important;
  border-bottom-color: #056dd4 !important; }

.bx-blue {
  border-left-color: #056dd4 !important;
  border-right-color: #056dd4 !important; }

.b-blue {
  border-color: #056dd4 !important; }

.bt-brightmint {
  border-top-color: #00df99 !important; }

.br-brightmint {
  border-left-color: #00df99 !important; }

.bb-brightmint {
  border-bottom-color: #00df99 !important; }

.bl-brightmint {
  border-left-color: #00df99 !important; }

.by-brightmint {
  border-top-color: #00df99 !important;
  border-bottom-color: #00df99 !important; }

.bx-brightmint {
  border-left-color: #00df99 !important;
  border-right-color: #00df99 !important; }

.b-brightmint {
  border-color: #00df99 !important; }

.bt-cream {
  border-top-color: #f5f5f3 !important; }

.br-cream {
  border-left-color: #f5f5f3 !important; }

.bb-cream {
  border-bottom-color: #f5f5f3 !important; }

.bl-cream {
  border-left-color: #f5f5f3 !important; }

.by-cream {
  border-top-color: #f5f5f3 !important;
  border-bottom-color: #f5f5f3 !important; }

.bx-cream {
  border-left-color: #f5f5f3 !important;
  border-right-color: #f5f5f3 !important; }

.b-cream {
  border-color: #f5f5f3 !important; }

.bt-gold {
  border-top-color: #f4b400 !important; }

.br-gold {
  border-left-color: #f4b400 !important; }

.bb-gold {
  border-bottom-color: #f4b400 !important; }

.bl-gold {
  border-left-color: #f4b400 !important; }

.by-gold {
  border-top-color: #f4b400 !important;
  border-bottom-color: #f4b400 !important; }

.bx-gold {
  border-left-color: #f4b400 !important;
  border-right-color: #f4b400 !important; }

.b-gold {
  border-color: #f4b400 !important; }

.bt-green {
  border-top-color: #0baf00 !important; }

.br-green {
  border-left-color: #0baf00 !important; }

.bb-green {
  border-bottom-color: #0baf00 !important; }

.bl-green {
  border-left-color: #0baf00 !important; }

.by-green {
  border-top-color: #0baf00 !important;
  border-bottom-color: #0baf00 !important; }

.bx-green {
  border-left-color: #0baf00 !important;
  border-right-color: #0baf00 !important; }

.b-green {
  border-color: #0baf00 !important; }

.bt-red {
  border-top-color: #be4900 !important; }

.br-red {
  border-left-color: #be4900 !important; }

.bb-red {
  border-bottom-color: #be4900 !important; }

.bl-red {
  border-left-color: #be4900 !important; }

.by-red {
  border-top-color: #be4900 !important;
  border-bottom-color: #be4900 !important; }

.bx-red {
  border-left-color: #be4900 !important;
  border-right-color: #be4900 !important; }

.b-red {
  border-color: #be4900 !important; }

.bt-trueblack {
  border-top-color: #000000 !important; }

.br-trueblack {
  border-left-color: #000000 !important; }

.bb-trueblack {
  border-bottom-color: #000000 !important; }

.bl-trueblack {
  border-left-color: #000000 !important; }

.by-trueblack {
  border-top-color: #000000 !important;
  border-bottom-color: #000000 !important; }

.bx-trueblack {
  border-left-color: #000000 !important;
  border-right-color: #000000 !important; }

.b-trueblack {
  border-color: #000000 !important; }

.bt-textblack {
  border-top-color: #333333 !important; }

.br-textblack {
  border-left-color: #333333 !important; }

.bb-textblack {
  border-bottom-color: #333333 !important; }

.bl-textblack {
  border-left-color: #333333 !important; }

.by-textblack {
  border-top-color: #333333 !important;
  border-bottom-color: #333333 !important; }

.bx-textblack {
  border-left-color: #333333 !important;
  border-right-color: #333333 !important; }

.b-textblack {
  border-color: #333333 !important; }

.bt-darkgray {
  border-top-color: #555555 !important; }

.br-darkgray {
  border-left-color: #555555 !important; }

.bb-darkgray {
  border-bottom-color: #555555 !important; }

.bl-darkgray {
  border-left-color: #555555 !important; }

.by-darkgray {
  border-top-color: #555555 !important;
  border-bottom-color: #555555 !important; }

.bx-darkgray {
  border-left-color: #555555 !important;
  border-right-color: #555555 !important; }

.b-darkgray {
  border-color: #555555 !important; }

.bt-mediumgray {
  border-top-color: #8e8e8e !important; }

.br-mediumgray {
  border-left-color: #8e8e8e !important; }

.bb-mediumgray {
  border-bottom-color: #8e8e8e !important; }

.bl-mediumgray {
  border-left-color: #8e8e8e !important; }

.by-mediumgray {
  border-top-color: #8e8e8e !important;
  border-bottom-color: #8e8e8e !important; }

.bx-mediumgray {
  border-left-color: #8e8e8e !important;
  border-right-color: #8e8e8e !important; }

.b-mediumgray {
  border-color: #8e8e8e !important; }

.bt-mediumgray-trans {
  border-top-color: rgba(0, 0, 0, 0.4) !important; }

.br-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important; }

.bb-mediumgray-trans {
  border-bottom-color: rgba(0, 0, 0, 0.4) !important; }

.bl-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important; }

.by-mediumgray-trans {
  border-top-color: rgba(0, 0, 0, 0.4) !important;
  border-bottom-color: rgba(0, 0, 0, 0.4) !important; }

.bx-mediumgray-trans {
  border-left-color: rgba(0, 0, 0, 0.4) !important;
  border-right-color: rgba(0, 0, 0, 0.4) !important; }

.b-mediumgray-trans {
  border-color: rgba(0, 0, 0, 0.4) !important; }

.bt-lightgray {
  border-top-color: #d3d3d3 !important; }

.br-lightgray {
  border-left-color: #d3d3d3 !important; }

.bb-lightgray {
  border-bottom-color: #d3d3d3 !important; }

.bl-lightgray {
  border-left-color: #d3d3d3 !important; }

.by-lightgray {
  border-top-color: #d3d3d3 !important;
  border-bottom-color: #d3d3d3 !important; }

.bx-lightgray {
  border-left-color: #d3d3d3 !important;
  border-right-color: #d3d3d3 !important; }

.b-lightgray {
  border-color: #d3d3d3 !important; }

.bt-lightestgray {
  border-top-color: #f5f5f3 !important; }

.br-lightestgray {
  border-left-color: #f5f5f3 !important; }

.bb-lightestgray {
  border-bottom-color: #f5f5f3 !important; }

.bl-lightestgray {
  border-left-color: #f5f5f3 !important; }

.by-lightestgray {
  border-top-color: #f5f5f3 !important;
  border-bottom-color: #f5f5f3 !important; }

.bx-lightestgray {
  border-left-color: #f5f5f3 !important;
  border-right-color: #f5f5f3 !important; }

.b-lightestgray {
  border-color: #f5f5f3 !important; }

.bt-white {
  border-top-color: #ffffff !important; }

.br-white {
  border-left-color: #ffffff !important; }

.bb-white {
  border-bottom-color: #ffffff !important; }

.bl-white {
  border-left-color: #ffffff !important; }

.by-white {
  border-top-color: #ffffff !important;
  border-bottom-color: #ffffff !important; }

.bx-white {
  border-left-color: #ffffff !important;
  border-right-color: #ffffff !important; }

.b-white {
  border-color: #ffffff !important; }

.rd-rounded {
  border-radius: 2px !important; }

.rd-pill {
  border-radius: "10em" !important; }

.bt1px {
  border-top: 1px !important; }

.br1px {
  border-left: 1px !important; }

.bb1px {
  border-bottom: 1px !important; }

.bl1px {
  border-left: 1px !important; }

.by1px {
  border-top: 1px !important;
  border-bottom: 1px !important; }

.bx1px {
  border-left: 1px !important;
  border-right: 1px !important; }

.b1px {
  border: 1px !important; }

.bt2px {
  border-top: 2px !important; }

.br2px {
  border-left: 2px !important; }

.bb2px {
  border-bottom: 2px !important; }

.bl2px {
  border-left: 2px !important; }

.by2px {
  border-top: 2px !important;
  border-bottom: 2px !important; }

.bx2px {
  border-left: 2px !important;
  border-right: 2px !important; }

.b2px {
  border: 2px !important; }

.btn1px {
  border-top: -1px !important; }

.brn1px {
  border-left: -1px !important; }

.bbn1px {
  border-bottom: -1px !important; }

.bln1px {
  border-left: -1px !important; }

.byn1px {
  border-top: -1px !important;
  border-bottom: -1px !important; }

.bxn1px {
  border-left: -1px !important;
  border-right: -1px !important; }

.bn1px {
  border: -1px !important; }

.btn2px {
  border-top: -2px !important; }

.brn2px {
  border-left: -2px !important; }

.bbn2px {
  border-bottom: -2px !important; }

.bln2px {
  border-left: -2px !important; }

.byn2px {
  border-top: -2px !important;
  border-bottom: -2px !important; }

.bxn2px {
  border-left: -2px !important;
  border-right: -2px !important; }

.bn2px {
  border: -2px !important; }

.bt05 {
  border-top: 0.25rem !important; }

.br05 {
  border-left: 0.25rem !important; }

.bb05 {
  border-bottom: 0.25rem !important; }

.bl05 {
  border-left: 0.25rem !important; }

.by05 {
  border-top: 0.25rem !important;
  border-bottom: 0.25rem !important; }

.bx05 {
  border-left: 0.25rem !important;
  border-right: 0.25rem !important; }

.b05 {
  border: 0.25rem !important; }

.bt1 {
  border-top: 0.5rem !important; }

.br1 {
  border-left: 0.5rem !important; }

.bb1 {
  border-bottom: 0.5rem !important; }

.bl1 {
  border-left: 0.5rem !important; }

.by1 {
  border-top: 0.5rem !important;
  border-bottom: 0.5rem !important; }

.bx1 {
  border-left: 0.5rem !important;
  border-right: 0.5rem !important; }

.b1 {
  border: 0.5rem !important; }

.bt105 {
  border-top: 0.75rem !important; }

.br105 {
  border-left: 0.75rem !important; }

.bb105 {
  border-bottom: 0.75rem !important; }

.bl105 {
  border-left: 0.75rem !important; }

.by105 {
  border-top: 0.75rem !important;
  border-bottom: 0.75rem !important; }

.bx105 {
  border-left: 0.75rem !important;
  border-right: 0.75rem !important; }

.b105 {
  border: 0.75rem !important; }

.bt2 {
  border-top: 1rem !important; }

.br2 {
  border-left: 1rem !important; }

.bb2 {
  border-bottom: 1rem !important; }

.bl2 {
  border-left: 1rem !important; }

.by2 {
  border-top: 1rem !important;
  border-bottom: 1rem !important; }

.bx2 {
  border-left: 1rem !important;
  border-right: 1rem !important; }

.b2 {
  border: 1rem !important; }

.bt3 {
  border-top: 1.5rem !important; }

.br3 {
  border-left: 1.5rem !important; }

.bb3 {
  border-bottom: 1.5rem !important; }

.bl3 {
  border-left: 1.5rem !important; }

.by3 {
  border-top: 1.5rem !important;
  border-bottom: 1.5rem !important; }

.bx3 {
  border-left: 1.5rem !important;
  border-right: 1.5rem !important; }

.b3 {
  border: 1.5rem !important; }

.bt4 {
  border-top: 2rem !important; }

.br4 {
  border-left: 2rem !important; }

.bb4 {
  border-bottom: 2rem !important; }

.bl4 {
  border-left: 2rem !important; }

.by4 {
  border-top: 2rem !important;
  border-bottom: 2rem !important; }

.bx4 {
  border-left: 2rem !important;
  border-right: 2rem !important; }

.b4 {
  border: 2rem !important; }

.bt5 {
  border-top: 2.5rem !important; }

.br5 {
  border-left: 2.5rem !important; }

.bb5 {
  border-bottom: 2.5rem !important; }

.bl5 {
  border-left: 2.5rem !important; }

.by5 {
  border-top: 2.5rem !important;
  border-bottom: 2.5rem !important; }

.bx5 {
  border-left: 2.5rem !important;
  border-right: 2.5rem !important; }

.b5 {
  border: 2.5rem !important; }

.bt6 {
  border-top: 3rem !important; }

.br6 {
  border-left: 3rem !important; }

.bb6 {
  border-bottom: 3rem !important; }

.bl6 {
  border-left: 3rem !important; }

.by6 {
  border-top: 3rem !important;
  border-bottom: 3rem !important; }

.bx6 {
  border-left: 3rem !important;
  border-right: 3rem !important; }

.b6 {
  border: 3rem !important; }

.bt7 {
  border-top: 3.5rem !important; }

.br7 {
  border-left: 3.5rem !important; }

.bb7 {
  border-bottom: 3.5rem !important; }

.bl7 {
  border-left: 3.5rem !important; }

.by7 {
  border-top: 3.5rem !important;
  border-bottom: 3.5rem !important; }

.bx7 {
  border-left: 3.5rem !important;
  border-right: 3.5rem !important; }

.b7 {
  border: 3.5rem !important; }

.bt8 {
  border-top: 4rem !important; }

.br8 {
  border-left: 4rem !important; }

.bb8 {
  border-bottom: 4rem !important; }

.bl8 {
  border-left: 4rem !important; }

.by8 {
  border-top: 4rem !important;
  border-bottom: 4rem !important; }

.bx8 {
  border-left: 4rem !important;
  border-right: 4rem !important; }

.b8 {
  border: 4rem !important; }

.bt9 {
  border-top: 4.5rem !important; }

.br9 {
  border-left: 4.5rem !important; }

.bb9 {
  border-bottom: 4.5rem !important; }

.bl9 {
  border-left: 4.5rem !important; }

.by9 {
  border-top: 4.5rem !important;
  border-bottom: 4.5rem !important; }

.bx9 {
  border-left: 4.5rem !important;
  border-right: 4.5rem !important; }

.b9 {
  border: 4.5rem !important; }

.bt10 {
  border-top: 5rem !important; }

.br10 {
  border-left: 5rem !important; }

.bb10 {
  border-bottom: 5rem !important; }

.bl10 {
  border-left: 5rem !important; }

.by10 {
  border-top: 5rem !important;
  border-bottom: 5rem !important; }

.bx10 {
  border-left: 5rem !important;
  border-right: 5rem !important; }

.b10 {
  border: 5rem !important; }

.bt15 {
  border-top: 7.5rem !important; }

.br15 {
  border-left: 7.5rem !important; }

.bb15 {
  border-bottom: 7.5rem !important; }

.bl15 {
  border-left: 7.5rem !important; }

.by15 {
  border-top: 7.5rem !important;
  border-bottom: 7.5rem !important; }

.bx15 {
  border-left: 7.5rem !important;
  border-right: 7.5rem !important; }

.b15 {
  border: 7.5rem !important; }

.bt20 {
  border-top: 10rem !important; }

.br20 {
  border-left: 10rem !important; }

.bb20 {
  border-bottom: 10rem !important; }

.bl20 {
  border-left: 10rem !important; }

.by20 {
  border-top: 10rem !important;
  border-bottom: 10rem !important; }

.bx20 {
  border-left: 10rem !important;
  border-right: 10rem !important; }

.b20 {
  border: 10rem !important; }

.bt25 {
  border-top: 12.5rem !important; }

.br25 {
  border-left: 12.5rem !important; }

.bb25 {
  border-bottom: 12.5rem !important; }

.bl25 {
  border-left: 12.5rem !important; }

.by25 {
  border-top: 12.5rem !important;
  border-bottom: 12.5rem !important; }

.bx25 {
  border-left: 12.5rem !important;
  border-right: 12.5rem !important; }

.b25 {
  border: 12.5rem !important; }

.bt30 {
  border-top: 15rem !important; }

.br30 {
  border-left: 15rem !important; }

.bb30 {
  border-bottom: 15rem !important; }

.bl30 {
  border-left: 15rem !important; }

.by30 {
  border-top: 15rem !important;
  border-bottom: 15rem !important; }

.bx30 {
  border-left: 15rem !important;
  border-right: 15rem !important; }

.b30 {
  border: 15rem !important; }

.bt40 {
  border-top: 20rem !important; }

.br40 {
  border-left: 20rem !important; }

.bb40 {
  border-bottom: 20rem !important; }

.bl40 {
  border-left: 20rem !important; }

.by40 {
  border-top: 20rem !important;
  border-bottom: 20rem !important; }

.bx40 {
  border-left: 20rem !important;
  border-right: 20rem !important; }

.b40 {
  border: 20rem !important; }

.bt50 {
  border-top: 25rem !important; }

.br50 {
  border-left: 25rem !important; }

.bb50 {
  border-bottom: 25rem !important; }

.bl50 {
  border-left: 25rem !important; }

.by50 {
  border-top: 25rem !important;
  border-bottom: 25rem !important; }

.bx50 {
  border-left: 25rem !important;
  border-right: 25rem !important; }

.b50 {
  border: 25rem !important; }

.clear {
  clear: both !important; }

.clear-left {
  clear: left !important; }

.clear-right {
  clear: right !important; }

.blue {
  color: #056dd4 !important; }

.brightmint {
  color: #00df99 !important; }

.cream {
  color: #f5f5f3 !important; }

.gold {
  color: #f4b400 !important; }

.green {
  color: #0baf00 !important; }

.red {
  color: #be4900 !important; }

.trueblack {
  color: #000000 !important; }

.textblack {
  color: #333333 !important; }

.darkgray {
  color: #555555 !important; }

.mediumgray {
  color: #8e8e8e !important; }

.mediumgray-trans {
  color: rgba(0, 0, 0, 0.4) !important; }

.lightgray {
  color: #d3d3d3 !important; }

.lightestgray {
  color: #f5f5f3 !important; }

.white {
  color: #ffffff !important; }

.float-left {
  float: "left" !important; }

.float-none {
  float: "none" !important; }

.float-right {
  float: "right" !important; }

.mono {
  font-size: "Roboto Mono", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace !important; }

.sans {
  font-size: "18Franklin-webfont", system, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important; }

.serif {
  font-size: "Georgia", "Cambria", "Times New Roman", "Times", serif !important; }

.mono-s1 {
  font-size: 0.625rem !important; }

.mono-s2 {
  font-size: 0.75rem !important; }

.mono-s3 {
  font-size: 0.8125rem !important; }

.mono-s4 {
  font-size: 0.9375rem !important; }

.mono-s5 {
  font-size: 1rem !important; }

.mono-s6 {
  font-size: 1.125rem !important; }

.mono-s7 {
  font-size: 1.4375rem !important; }

.mono-s8 {
  font-size: 1.5625rem !important; }

.mono-s9 {
  font-size: 2.75rem !important; }

.mono-s10 {
  font-size: 6.5rem !important; }

.sans-s1 {
  font-size: 0.625rem !important; }

.sans-s2 {
  font-size: 0.75rem !important; }

.sans-s3 {
  font-size: 0.8125rem !important; }

.sans-s4 {
  font-size: 0.875rem !important; }

.sans-s5 {
  font-size: 1rem !important; }

.sans-s6 {
  font-size: 1.125rem !important; }

.sans-s7 {
  font-size: 1.25rem !important; }

.sans-s8 {
  font-size: 1.5rem !important; }

.sans-s9 {
  font-size: 2.5rem !important; }

.sans-s10 {
  font-size: 6.25rem !important; }

.serif-s1 {
  font-size: 0.625rem !important; }

.serif-s2 {
  font-size: 0.8125rem !important; }

.serif-s3 {
  font-size: 0.875rem !important; }

.serif-s4 {
  font-size: 0.9375rem !important; }

.serif-s5 {
  font-size: 1.0625rem !important; }

.serif-s6 {
  font-size: 1.1875rem !important; }

.serif-s7 {
  font-size: 1.4375rem !important; }

.serif-s8 {
  font-size: 1.6875rem !important; }

.serif-s9 {
  font-size: 2.6875rem !important; }

.serif-s10 {
  font-size: 6.75rem !important; }

.italic {
  font-style: "italic" !important; }

.fw100 {
  font-weight: 100 !important; }

.fw200 {
  font-weight: 200 !important; }

.fw300 {
  font-weight: 300 !important; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500 !important; }

.fw600 {
  font-weight: 600 !important; }

.fw700 {
  font-weight: 700 !important; }

.fw800 {
  font-weight: 800 !important; }

.h10ct {
  height: 10% !important; }

.h20ct {
  height: 20% !important; }

.h25ct {
  height: 25% !important; }

.h30ct {
  height: 30% !important; }

.h33ct {
  height: 33.33333% !important; }

.h40ct {
  height: 40% !important; }

.h50ct {
  height: 50% !important; }

.h60ct {
  height: 60% !important; }

.h66ct {
  height: 66.66667% !important; }

.h70ct {
  height: 70% !important; }

.h75ct {
  height: 75% !important; }

.h80ct {
  height: 80% !important; }

.h90ct {
  height: 90% !important; }

.h100ct {
  height: 100% !important; }

.h05 {
  height: 0.25rem !important; }

.h1 {
  height: 0.5rem !important; }

.h105 {
  height: 0.75rem !important; }

.h2 {
  height: 1rem !important; }

.h3 {
  height: 1.5rem !important; }

.h4 {
  height: 2rem !important; }

.h5 {
  height: 2.5rem !important; }

.h6 {
  height: 3rem !important; }

.h7 {
  height: 3.5rem !important; }

.h8 {
  height: 4rem !important; }

.h9 {
  height: 4.5rem !important; }

.h10 {
  height: 5rem !important; }

.h15 {
  height: 7.5rem !important; }

.h20 {
  height: 10rem !important; }

.h25 {
  height: 12.5rem !important; }

.h30 {
  height: 15rem !important; }

.h40 {
  height: 20rem !important; }

.h50 {
  height: 25rem !important; }

.h1px {
  height: 1px !important; }

.h2px {
  height: 2px !important; }

.lsloose {
  letter-spacing: 0.1em !important; }

.lsxloose {
  letter-spacing: 0.15em !important; }

.lh-single {
  line-height: 1 !important; }

.lh-hed {
  line-height: 1.05 !important; }

.lh-cap {
  line-height: 1.3 !important; }

.lh-body {
  line-height: 1.55 !important; }

.lh-display {
  line-height: 1.65 !important; }

.ll-narrow {
  max-width: 17em !important; }

.ll-reading {
  max-width: 36em !important; }

.mt1px {
  margin-top: 1px !important; }

.mr1px {
  margin-left: 1px !important; }

.mb1px {
  margin-bottom: 1px !important; }

.ml1px {
  margin-left: 1px !important; }

.my1px {
  margin-top: 1px !important;
  margin-bottom: 1px !important; }

.mx1px {
  margin-left: 1px !important;
  margin-right: 1px !important; }

.m1px {
  margin: 1px !important; }

.mt2px {
  margin-top: 2px !important; }

.mr2px {
  margin-left: 2px !important; }

.mb2px {
  margin-bottom: 2px !important; }

.ml2px {
  margin-left: 2px !important; }

.my2px {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.mx2px {
  margin-left: 2px !important;
  margin-right: 2px !important; }

.m2px {
  margin: 2px !important; }

.mtn1px {
  margin-top: -1px !important; }

.mrn1px {
  margin-left: -1px !important; }

.mbn1px {
  margin-bottom: -1px !important; }

.mln1px {
  margin-left: -1px !important; }

.myn1px {
  margin-top: -1px !important;
  margin-bottom: -1px !important; }

.mxn1px {
  margin-left: -1px !important;
  margin-right: -1px !important; }

.mn1px {
  margin: -1px !important; }

.mtn2px {
  margin-top: -2px !important; }

.mrn2px {
  margin-left: -2px !important; }

.mbn2px {
  margin-bottom: -2px !important; }

.mln2px {
  margin-left: -2px !important; }

.myn2px {
  margin-top: -2px !important;
  margin-bottom: -2px !important; }

.mxn2px {
  margin-left: -2px !important;
  margin-right: -2px !important; }

.mn2px {
  margin: -2px !important; }

.mt05 {
  margin-top: 0.25rem !important; }

.mr05 {
  margin-left: 0.25rem !important; }

.mb05 {
  margin-bottom: 0.25rem !important; }

.ml05 {
  margin-left: 0.25rem !important; }

.my05 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important; }

.mx05 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important; }

.m05 {
  margin: 0.25rem !important; }

.mt1 {
  margin-top: 0.5rem !important; }

.mr1 {
  margin-left: 0.5rem !important; }

.mb1 {
  margin-bottom: 0.5rem !important; }

.ml1 {
  margin-left: 0.5rem !important; }

.my1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.mx1 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important; }

.m1 {
  margin: 0.5rem !important; }

.mt105 {
  margin-top: 0.75rem !important; }

.mr105 {
  margin-left: 0.75rem !important; }

.mb105 {
  margin-bottom: 0.75rem !important; }

.ml105 {
  margin-left: 0.75rem !important; }

.my105 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important; }

.mx105 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important; }

.m105 {
  margin: 0.75rem !important; }

.mt2 {
  margin-top: 1rem !important; }

.mr2 {
  margin-left: 1rem !important; }

.mb2 {
  margin-bottom: 1rem !important; }

.ml2 {
  margin-left: 1rem !important; }

.my2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.mx2 {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.m2 {
  margin: 1rem !important; }

.mt3 {
  margin-top: 1.5rem !important; }

.mr3 {
  margin-left: 1.5rem !important; }

.mb3 {
  margin-bottom: 1.5rem !important; }

.ml3 {
  margin-left: 1.5rem !important; }

.my3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.mx3 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important; }

.m3 {
  margin: 1.5rem !important; }

.mt4 {
  margin-top: 2rem !important; }

.mr4 {
  margin-left: 2rem !important; }

.mb4 {
  margin-bottom: 2rem !important; }

.ml4 {
  margin-left: 2rem !important; }

.my4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.mx4 {
  margin-left: 2rem !important;
  margin-right: 2rem !important; }

.m4 {
  margin: 2rem !important; }

.mt5 {
  margin-top: 2.5rem !important; }

.mr5 {
  margin-left: 2.5rem !important; }

.mb5 {
  margin-bottom: 2.5rem !important; }

.ml5 {
  margin-left: 2.5rem !important; }

.my5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important; }

.mx5 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important; }

.m5 {
  margin: 2.5rem !important; }

.mt6 {
  margin-top: 3rem !important; }

.mr6 {
  margin-left: 3rem !important; }

.mb6 {
  margin-bottom: 3rem !important; }

.ml6 {
  margin-left: 3rem !important; }

.my6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.mx6 {
  margin-left: 3rem !important;
  margin-right: 3rem !important; }

.m6 {
  margin: 3rem !important; }

.mt7 {
  margin-top: 3.5rem !important; }

.mr7 {
  margin-left: 3.5rem !important; }

.mb7 {
  margin-bottom: 3.5rem !important; }

.ml7 {
  margin-left: 3.5rem !important; }

.my7 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important; }

.mx7 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important; }

.m7 {
  margin: 3.5rem !important; }

.mt8 {
  margin-top: 4rem !important; }

.mr8 {
  margin-left: 4rem !important; }

.mb8 {
  margin-bottom: 4rem !important; }

.ml8 {
  margin-left: 4rem !important; }

.my8 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.mx8 {
  margin-left: 4rem !important;
  margin-right: 4rem !important; }

.m8 {
  margin: 4rem !important; }

.mt9 {
  margin-top: 4.5rem !important; }

.mr9 {
  margin-left: 4.5rem !important; }

.mb9 {
  margin-bottom: 4.5rem !important; }

.ml9 {
  margin-left: 4.5rem !important; }

.my9 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important; }

.mx9 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important; }

.m9 {
  margin: 4.5rem !important; }

.mt10 {
  margin-top: 5rem !important; }

.mr10 {
  margin-left: 5rem !important; }

.mb10 {
  margin-bottom: 5rem !important; }

.ml10 {
  margin-left: 5rem !important; }

.my10 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.mx10 {
  margin-left: 5rem !important;
  margin-right: 5rem !important; }

.m10 {
  margin: 5rem !important; }

.mt15 {
  margin-top: 7.5rem !important; }

.mr15 {
  margin-left: 7.5rem !important; }

.mb15 {
  margin-bottom: 7.5rem !important; }

.ml15 {
  margin-left: 7.5rem !important; }

.my15 {
  margin-top: 7.5rem !important;
  margin-bottom: 7.5rem !important; }

.mx15 {
  margin-left: 7.5rem !important;
  margin-right: 7.5rem !important; }

.m15 {
  margin: 7.5rem !important; }

.mt20 {
  margin-top: 10rem !important; }

.mr20 {
  margin-left: 10rem !important; }

.mb20 {
  margin-bottom: 10rem !important; }

.ml20 {
  margin-left: 10rem !important; }

.my20 {
  margin-top: 10rem !important;
  margin-bottom: 10rem !important; }

.mx20 {
  margin-left: 10rem !important;
  margin-right: 10rem !important; }

.m20 {
  margin: 10rem !important; }

.mt25 {
  margin-top: 12.5rem !important; }

.mr25 {
  margin-left: 12.5rem !important; }

.mb25 {
  margin-bottom: 12.5rem !important; }

.ml25 {
  margin-left: 12.5rem !important; }

.my25 {
  margin-top: 12.5rem !important;
  margin-bottom: 12.5rem !important; }

.mx25 {
  margin-left: 12.5rem !important;
  margin-right: 12.5rem !important; }

.m25 {
  margin: 12.5rem !important; }

.mt30 {
  margin-top: 15rem !important; }

.mr30 {
  margin-left: 15rem !important; }

.mb30 {
  margin-bottom: 15rem !important; }

.ml30 {
  margin-left: 15rem !important; }

.my30 {
  margin-top: 15rem !important;
  margin-bottom: 15rem !important; }

.mx30 {
  margin-left: 15rem !important;
  margin-right: 15rem !important; }

.m30 {
  margin: 15rem !important; }

.mt40 {
  margin-top: 20rem !important; }

.mr40 {
  margin-left: 20rem !important; }

.mb40 {
  margin-bottom: 20rem !important; }

.ml40 {
  margin-left: 20rem !important; }

.my40 {
  margin-top: 20rem !important;
  margin-bottom: 20rem !important; }

.mx40 {
  margin-left: 20rem !important;
  margin-right: 20rem !important; }

.m40 {
  margin: 20rem !important; }

.mt50 {
  margin-top: 25rem !important; }

.mr50 {
  margin-left: 25rem !important; }

.mb50 {
  margin-bottom: 25rem !important; }

.ml50 {
  margin-left: 25rem !important; }

.my50 {
  margin-top: 25rem !important;
  margin-bottom: 25rem !important; }

.mx50 {
  margin-left: 25rem !important;
  margin-right: 25rem !important; }

.m50 {
  margin: 25rem !important; }

.mtn05 {
  margin-top: -0.25rem !important; }

.mrn05 {
  margin-left: -0.25rem !important; }

.mbn05 {
  margin-bottom: -0.25rem !important; }

.mln05 {
  margin-left: -0.25rem !important; }

.myn05 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important; }

.mxn05 {
  margin-left: -0.25rem !important;
  margin-right: -0.25rem !important; }

.mn05 {
  margin: -0.25rem !important; }

.mtn1 {
  margin-top: -0.5rem !important; }

.mrn1 {
  margin-left: -0.5rem !important; }

.mbn1 {
  margin-bottom: -0.5rem !important; }

.mln1 {
  margin-left: -0.5rem !important; }

.myn1 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important; }

.mxn1 {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important; }

.mn1 {
  margin: -0.5rem !important; }

.mtn105 {
  margin-top: -0.75rem !important; }

.mrn105 {
  margin-left: -0.75rem !important; }

.mbn105 {
  margin-bottom: -0.75rem !important; }

.mln105 {
  margin-left: -0.75rem !important; }

.myn105 {
  margin-top: -0.75rem !important;
  margin-bottom: -0.75rem !important; }

.mxn105 {
  margin-left: -0.75rem !important;
  margin-right: -0.75rem !important; }

.mn105 {
  margin: -0.75rem !important; }

.mtn2 {
  margin-top: -1rem !important; }

.mrn2 {
  margin-left: -1rem !important; }

.mbn2 {
  margin-bottom: -1rem !important; }

.mln2 {
  margin-left: -1rem !important; }

.myn2 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important; }

.mxn2 {
  margin-left: -1rem !important;
  margin-right: -1rem !important; }

.mn2 {
  margin: -1rem !important; }

.mtn3 {
  margin-top: -1.5rem !important; }

.mrn3 {
  margin-left: -1.5rem !important; }

.mbn3 {
  margin-bottom: -1.5rem !important; }

.mln3 {
  margin-left: -1.5rem !important; }

.myn3 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important; }

.mxn3 {
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important; }

.mn3 {
  margin: -1.5rem !important; }

.mtn4 {
  margin-top: -2rem !important; }

.mrn4 {
  margin-left: -2rem !important; }

.mbn4 {
  margin-bottom: -2rem !important; }

.mln4 {
  margin-left: -2rem !important; }

.myn4 {
  margin-top: -2rem !important;
  margin-bottom: -2rem !important; }

.mxn4 {
  margin-left: -2rem !important;
  margin-right: -2rem !important; }

.mn4 {
  margin: -2rem !important; }

.mtn5 {
  margin-top: -2.5rem !important; }

.mrn5 {
  margin-left: -2.5rem !important; }

.mbn5 {
  margin-bottom: -2.5rem !important; }

.mln5 {
  margin-left: -2.5rem !important; }

.myn5 {
  margin-top: -2.5rem !important;
  margin-bottom: -2.5rem !important; }

.mxn5 {
  margin-left: -2.5rem !important;
  margin-right: -2.5rem !important; }

.mn5 {
  margin: -2.5rem !important; }

.ot-alt {
  -webkit-font-feature-settings: "ss01" 1 "kern" 1 !important;
  font-feature-settings: "ss01" 1 "kern" 1 !important; }

.ot-tnum {
  -webkit-font-feature-settings: "tnum" 1 "kern" 1 !important;
  font-feature-settings: "tnum" 1 "kern" 1 !important; }

.order-0 {
  -webkit-box-ordinal-group: 1 !important;
  -ms-flex-order: 0 !important;
  order: 0 !important; }

.order-1 {
  -webkit-box-ordinal-group: 2 !important;
  -ms-flex-order: 1 !important;
  order: 1 !important; }

.order-2 {
  -webkit-box-ordinal-group: 3 !important;
  -ms-flex-order: 2 !important;
  order: 2 !important; }

.order-3 {
  -webkit-box-ordinal-group: 4 !important;
  -ms-flex-order: 3 !important;
  order: 3 !important; }

.order-4 {
  -webkit-box-ordinal-group: 5 !important;
  -ms-flex-order: 4 !important;
  order: 4 !important; }

.order-5 {
  -webkit-box-ordinal-group: 6 !important;
  -ms-flex-order: 5 !important;
  order: 5 !important; }

.order-6 {
  -webkit-box-ordinal-group: 7 !important;
  -ms-flex-order: 6 !important;
  order: 6 !important; }

.order-7 {
  -webkit-box-ordinal-group: 8 !important;
  -ms-flex-order: 7 !important;
  order: 7 !important; }

.order-8 {
  -webkit-box-ordinal-group: 9 !important;
  -ms-flex-order: 8 !important;
  order: 8 !important; }

.order-9 {
  -webkit-box-ordinal-group: 10 !important;
  -ms-flex-order: 9 !important;
  order: 9 !important; }

.order-10 {
  -webkit-box-ordinal-group: 11 !important;
  -ms-flex-order: 10 !important;
  order: 10 !important; }

.order-11 {
  -webkit-box-ordinal-group: 12 !important;
  -ms-flex-order: 11 !important;
  order: 11 !important; }

.order-first {
  -webkit-box-ordinal-group: 0 !important;
  -ms-flex-order: -1 !important;
  order: -1 !important; }

.order-last {
  -webkit-box-ordinal-group: 100 !important;
  -ms-flex-order: 99 !important;
  order: 99 !important; }

.bt1px {
  padding-top: 1px !important; }

.br1px {
  padding-left: 1px !important; }

.bb1px {
  padding-bottom: 1px !important; }

.bl1px {
  padding-left: 1px !important; }

.by1px {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }

.bx1px {
  padding-left: 1px !important;
  padding-right: 1px !important; }

.b1px {
  padding: 1px !important; }

.bt2px {
  padding-top: 2px !important; }

.br2px {
  padding-left: 2px !important; }

.bb2px {
  padding-bottom: 2px !important; }

.bl2px {
  padding-left: 2px !important; }

.by2px {
  padding-top: 2px !important;
  padding-bottom: 2px !important; }

.bx2px {
  padding-left: 2px !important;
  padding-right: 2px !important; }

.b2px {
  padding: 2px !important; }

.bt05 {
  padding-top: 0.25rem !important; }

.br05 {
  padding-left: 0.25rem !important; }

.bb05 {
  padding-bottom: 0.25rem !important; }

.bl05 {
  padding-left: 0.25rem !important; }

.by05 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.bx05 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important; }

.b05 {
  padding: 0.25rem !important; }

.bt1 {
  padding-top: 0.5rem !important; }

.br1 {
  padding-left: 0.5rem !important; }

.bb1 {
  padding-bottom: 0.5rem !important; }

.bl1 {
  padding-left: 0.5rem !important; }

.by1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.bx1 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important; }

.b1 {
  padding: 0.5rem !important; }

.bt105 {
  padding-top: 0.75rem !important; }

.br105 {
  padding-left: 0.75rem !important; }

.bb105 {
  padding-bottom: 0.75rem !important; }

.bl105 {
  padding-left: 0.75rem !important; }

.by105 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important; }

.bx105 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important; }

.b105 {
  padding: 0.75rem !important; }

.bt2 {
  padding-top: 1rem !important; }

.br2 {
  padding-left: 1rem !important; }

.bb2 {
  padding-bottom: 1rem !important; }

.bl2 {
  padding-left: 1rem !important; }

.by2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.bx2 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.b2 {
  padding: 1rem !important; }

.bt3 {
  padding-top: 1.5rem !important; }

.br3 {
  padding-left: 1.5rem !important; }

.bb3 {
  padding-bottom: 1.5rem !important; }

.bl3 {
  padding-left: 1.5rem !important; }

.by3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.bx3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important; }

.b3 {
  padding: 1.5rem !important; }

.bt4 {
  padding-top: 2rem !important; }

.br4 {
  padding-left: 2rem !important; }

.bb4 {
  padding-bottom: 2rem !important; }

.bl4 {
  padding-left: 2rem !important; }

.by4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.bx4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }

.b4 {
  padding: 2rem !important; }

.bt5 {
  padding-top: 2.5rem !important; }

.br5 {
  padding-left: 2.5rem !important; }

.bb5 {
  padding-bottom: 2.5rem !important; }

.bl5 {
  padding-left: 2.5rem !important; }

.by5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important; }

.bx5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important; }

.b5 {
  padding: 2.5rem !important; }

.bt6 {
  padding-top: 3rem !important; }

.br6 {
  padding-left: 3rem !important; }

.bb6 {
  padding-bottom: 3rem !important; }

.bl6 {
  padding-left: 3rem !important; }

.by6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.bx6 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }

.b6 {
  padding: 3rem !important; }

.bt7 {
  padding-top: 3.5rem !important; }

.br7 {
  padding-left: 3.5rem !important; }

.bb7 {
  padding-bottom: 3.5rem !important; }

.bl7 {
  padding-left: 3.5rem !important; }

.by7 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important; }

.bx7 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important; }

.b7 {
  padding: 3.5rem !important; }

.bt8 {
  padding-top: 4rem !important; }

.br8 {
  padding-left: 4rem !important; }

.bb8 {
  padding-bottom: 4rem !important; }

.bl8 {
  padding-left: 4rem !important; }

.by8 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.bx8 {
  padding-left: 4rem !important;
  padding-right: 4rem !important; }

.b8 {
  padding: 4rem !important; }

.bt9 {
  padding-top: 4.5rem !important; }

.br9 {
  padding-left: 4.5rem !important; }

.bb9 {
  padding-bottom: 4.5rem !important; }

.bl9 {
  padding-left: 4.5rem !important; }

.by9 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important; }

.bx9 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important; }

.b9 {
  padding: 4.5rem !important; }

.bt10 {
  padding-top: 5rem !important; }

.br10 {
  padding-left: 5rem !important; }

.bb10 {
  padding-bottom: 5rem !important; }

.bl10 {
  padding-left: 5rem !important; }

.by10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.bx10 {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.b10 {
  padding: 5rem !important; }

.bt15 {
  padding-top: 7.5rem !important; }

.br15 {
  padding-left: 7.5rem !important; }

.bb15 {
  padding-bottom: 7.5rem !important; }

.bl15 {
  padding-left: 7.5rem !important; }

.by15 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important; }

.bx15 {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important; }

.b15 {
  padding: 7.5rem !important; }

.bt20 {
  padding-top: 10rem !important; }

.br20 {
  padding-left: 10rem !important; }

.bb20 {
  padding-bottom: 10rem !important; }

.bl20 {
  padding-left: 10rem !important; }

.by20 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important; }

.bx20 {
  padding-left: 10rem !important;
  padding-right: 10rem !important; }

.b20 {
  padding: 10rem !important; }

.bt25 {
  padding-top: 12.5rem !important; }

.br25 {
  padding-left: 12.5rem !important; }

.bb25 {
  padding-bottom: 12.5rem !important; }

.bl25 {
  padding-left: 12.5rem !important; }

.by25 {
  padding-top: 12.5rem !important;
  padding-bottom: 12.5rem !important; }

.bx25 {
  padding-left: 12.5rem !important;
  padding-right: 12.5rem !important; }

.b25 {
  padding: 12.5rem !important; }

.bt30 {
  padding-top: 15rem !important; }

.br30 {
  padding-left: 15rem !important; }

.bb30 {
  padding-bottom: 15rem !important; }

.bl30 {
  padding-left: 15rem !important; }

.by30 {
  padding-top: 15rem !important;
  padding-bottom: 15rem !important; }

.bx30 {
  padding-left: 15rem !important;
  padding-right: 15rem !important; }

.b30 {
  padding: 15rem !important; }

.bt40 {
  padding-top: 20rem !important; }

.br40 {
  padding-left: 20rem !important; }

.bb40 {
  padding-bottom: 20rem !important; }

.bl40 {
  padding-left: 20rem !important; }

.by40 {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important; }

.bx40 {
  padding-left: 20rem !important;
  padding-right: 20rem !important; }

.b40 {
  padding: 20rem !important; }

.bt50 {
  padding-top: 25rem !important; }

.br50 {
  padding-left: 25rem !important; }

.bb50 {
  padding-bottom: 25rem !important; }

.bl50 {
  padding-left: 25rem !important; }

.by50 {
  padding-top: 25rem !important;
  padding-bottom: 25rem !important; }

.bx50 {
  padding-left: 25rem !important;
  padding-right: 25rem !important; }

.b50 {
  padding: 25rem !important; }

.sq10ct {
  height: 10% !important;
  width: 10% !important; }

.sq20ct {
  height: 20% !important;
  width: 20% !important; }

.sq25ct {
  height: 25% !important;
  width: 25% !important; }

.sq30ct {
  height: 30% !important;
  width: 30% !important; }

.sq33ct {
  height: 33.33333% !important;
  width: 33.33333% !important; }

.sq40ct {
  height: 40% !important;
  width: 40% !important; }

.sq50ct {
  height: 50% !important;
  width: 50% !important; }

.sq60ct {
  height: 60% !important;
  width: 60% !important; }

.sq66ct {
  height: 66.66667% !important;
  width: 66.66667% !important; }

.sq70ct {
  height: 70% !important;
  width: 70% !important; }

.sq75ct {
  height: 75% !important;
  width: 75% !important; }

.sq80ct {
  height: 80% !important;
  width: 80% !important; }

.sq90ct {
  height: 90% !important;
  width: 90% !important; }

.sq100ct {
  height: 100% !important;
  width: 100% !important; }

.sq05 {
  height: 0.25rem !important;
  width: 0.25rem !important; }

.sq1 {
  height: 0.5rem !important;
  width: 0.5rem !important; }

.sq105 {
  height: 0.75rem !important;
  width: 0.75rem !important; }

.sq2 {
  height: 1rem !important;
  width: 1rem !important; }

.sq3 {
  height: 1.5rem !important;
  width: 1.5rem !important; }

.sq4 {
  height: 2rem !important;
  width: 2rem !important; }

.sq5 {
  height: 2.5rem !important;
  width: 2.5rem !important; }

.sq6 {
  height: 3rem !important;
  width: 3rem !important; }

.sq7 {
  height: 3.5rem !important;
  width: 3.5rem !important; }

.sq8 {
  height: 4rem !important;
  width: 4rem !important; }

.sq9 {
  height: 4.5rem !important;
  width: 4.5rem !important; }

.sq10 {
  height: 5rem !important;
  width: 5rem !important; }

.sq15 {
  height: 7.5rem !important;
  width: 7.5rem !important; }

.sq20 {
  height: 10rem !important;
  width: 10rem !important; }

.sq25 {
  height: 12.5rem !important;
  width: 12.5rem !important; }

.sq30 {
  height: 15rem !important;
  width: 15rem !important; }

.sq40 {
  height: 20rem !important;
  width: 20rem !important; }

.sq50 {
  height: 25rem !important;
  width: 25rem !important; }

.sq1px {
  height: 1px !important;
  width: 1px !important; }

.sq2px {
  height: 2px !important;
  width: 2px !important; }

.underline {
  text-decoration: "underline" !important; }

.strike {
  text-decoration: "strike" !important; }

.capitalize {
  text-transform: "capitalize" !important; }

.lowercase {
  text-transform: "lowercase" !important; }

.uppercase {
  text-transform: "uppercase" !important; }

.w10ct {
  width: 10% !important; }

.w20ct {
  width: 20% !important; }

.w25ct {
  width: 25% !important; }

.w30ct {
  width: 30% !important; }

.w33ct {
  width: 33.33333% !important; }

.w40ct {
  width: 40% !important; }

.w50ct {
  width: 50% !important; }

.w60ct {
  width: 60% !important; }

.w66ct {
  width: 66.66667% !important; }

.w70ct {
  width: 70% !important; }

.w75ct {
  width: 75% !important; }

.w80ct {
  width: 80% !important; }

.w90ct {
  width: 90% !important; }

.w100ct {
  width: 100% !important; }

.w05 {
  width: 0.25rem !important; }

.w1 {
  width: 0.5rem !important; }

.w105 {
  width: 0.75rem !important; }

.w2 {
  width: 1rem !important; }

.w3 {
  width: 1.5rem !important; }

.w4 {
  width: 2rem !important; }

.w5 {
  width: 2.5rem !important; }

.w6 {
  width: 3rem !important; }

.w7 {
  width: 3.5rem !important; }

.w8 {
  width: 4rem !important; }

.w9 {
  width: 4.5rem !important; }

.w10 {
  width: 5rem !important; }

.w15 {
  width: 7.5rem !important; }

.w20 {
  width: 10rem !important; }

.w25 {
  width: 12.5rem !important; }

.w30 {
  width: 15rem !important; }

.w40 {
  width: 20rem !important; }

.w50 {
  width: 25rem !important; }

.w1px {
  width: 1px !important; }

.w2px {
  width: 2px !important; }
