/*
-----------------------------
Border
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/

$border: (
  border: (
    base: b,
    modifiers: (
      t: -top,
      r: -left,
      b: -bottom,
      l: -left,
      y: (-top, -bottom),
      x: (-left, -right),
      noModifier: '',
    ),
    values: map-collect(
      map-get($global_values, pixels),
      map-get($global_values, negPixels),
      map-get($global_values, grid)
    ),
    property: border,
  )
)
