/*
----------------------------------------
Border Radius
----------------------------------------
usage:
  .rd[-]*[value]
----------------------------------------
output:
  border-radius: [value];
----------------------------------------
example:
  .rd0 {
    border-radius: 0; }

  .rd-pill {
    border-radius: 10em; }
----------------------------------------
*/

$border-radius: (
  border-radius: (
    base: 'rd',
    modifiers: null,
    values: (
      0: '0',
      pill: ('10em', isReadable),
      rounded: ($border-radius, isReadable),
    ),
    property: 'border-radius',
  )
)
