/*
-----------------------------
Color
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/

$color: (
  color: (
    values: map-collect(
      map-get($global_values, colors)
    ),
    property: color,
  )
)
