/*
----------------------------------------
Color
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$color: (
  color: (
    base: null,
    modifiers: null,
    values: map-collect(
      map-get($global_values, colors)
    ),
    property: color,
  )
)
