/*
----------------------------------------
Column
----------------------------------------
usage:
  .col
----------------------------------------
output:
  flex: [value];
----------------------------------------
example:
  .col {
    flex: 0; }

  .col-2 {
    flex: 2 0 0; }

  .col-fill {
    flex: 1 0 0; }
----------------------------------------
*/

$column: (
  column: (
    base: ('col', isReadable),
    modifiers: null,
    values: map-collect(
      map-get($global_values, flex)
    ),
    property: 'flex',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
);
