/*
----------------------------------------
Column
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$column: (
  column: (
    base: (col, isReadable),
    modifiers: null,
    values: map-collect(
      map-get($global_values, flex)
    ),
    property: flex,
  )
);
