/*
----------------------------------------
Font Style
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$font-style: (
  font-style: (
    base: null,
    modifiers: null,
    values: (
      italic: ('italic', isReadable),
    ),
    property: 'font-style',
  )
)
