/*
----------------------------------------
Font Face
----------------------------------------
usage:
  .[value]
----------------------------------------
output:
  font-face: [value]
----------------------------------------
example:
  .sans {
    font-face: '18Franklin-webfont',
                system,
                -apple-system,
                BlinkMacSystemFont,
                'Roboto',
                'Helvetica Neue',
                'Helvetica',
                'Arial',
                sans-serif; }
----------------------------------------
*/

$font-face: (
  font-face: (
    base: null,
    modifiers: null,
    values: map-collect(
      map-get($global_values, typefaces)
    ),
    property: font-face,
  )
)
