/*
----------------------------------------
Font Weight
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$font-weight: (
  font-weight: (
    base: fw,
    modifiers: null,
    values: map-collect(
      map-get($global_values, fontWeights)
    ),
    property: font-weight,
  )
)
