/*
-----------------------------
Font Face
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/

$font-face: (
  font-face: (
    base: null,
    modifiers: null,
    values: map-collect(
      map-get($global_values, typefaces)
    ),
    property: font-size,
  )
)
