/*
----------------------------------------
Letterspacing
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$letter-spacing: (
  letter-spacing: (
    base: ls,
    modifiers: null,
    values: (
      loose: $ls-loose,
      xloose: $ls-xloose,
    ),
    property: letter-spacing,
  )
)
