/*
----------------------------------------
Line Length
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$line-length: (
  line-length: (
    base: 'll',
    modifiers: null,
    values: (
      narrow: ($text-narrow-width, isReadable),
      reading: ($text-max-width, isReadable),
    ),
    property: 'max-width',
  )
)
