/*
----------------------------------------
Opentype
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$opentype: (
  opentype: (
    base: 'ot',
    modifiers: null,
    values: (
      alt: ('ss01' 1, 'kern' 1, isReadable),
      tnum: ('tnum' 1, 'kern' 1, isReadable),
    ),
    property: 'font-feature-settings',
  )
)
