/*
----------------------------------------
Opentype
----------------------------------------
usage:
  .ot-[value]
----------------------------------------
output:
  font-feature-settings: [value];
----------------------------------------
example:
  .ot-alt {
    font-feature-settings:
      'ss01' 1, 'kern' 1; }
----------------------------------------
*/

$opentype: (
  opentype: (
    base: 'ot',
    modifiers: null,
    values: (
      alt: ('ss01' 1, 'kern' 1, isReadable),
      tnum: ('tnum' 1, 'kern' 1, isReadable),
    ),
    property: 'font-feature-settings',
    output: true,
    responsive: false,
  )
)
