/*
----------------------------------------
Order
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$order: (
  order: (
    base: ('order', isReadable),
    modifiers: null,
    values: map-collect(
      map-get($global_values, flexOrders)
    ),
    property: 'order',
  )
)
