/*
----------------------------------------
Row Align
----------------------------------------
usage:
  .row-[value]
----------------------------------------
output:
  align-items: [value];
----------------------------------------
example:
  .row {
    display: flex;
    align-items: center; }

  .row-top {
    align-items: center; }
----------------------------------------
*/

$row-align: (
  row-align: (
    base: ('row', isReadable),
    modifiers: null,
    values: (
      noValue: (
        slug: '',
        content: center,
      ),
      top: (
        slug: 'top',
        isReadable: true,
        content: 'top',
        extend: (
          property: 'display',
          value: 'flex',
        ),
      ),
      bottom: (
        slug: 'bottom',
        isReadable: true,
        content: 'bottom',
        extend: (
          property: 'display',
          value: 'flex',
        ),
      ),
      center: (
        slug: 'center',
        isReadable: true,
        content: 'center',
        extend: (
          property: 'display',
          value: 'flex',
        ),
      ),
      stretch: (
        slug: 'stretch',
        isReadable: true,
        content: 'stretch',
        extend: (
          property: 'display',
          value: 'flex',
        ),
      ),
    ),
    property: 'align-items',
    output: true,
    responsive: true,
  )
);
