/*
----------------------------------------
Row
----------------------------------------
usage:
  TK
----------------------------------------
output:
  TK
----------------------------------------
example:
  .NNNNN {
    NNNNN: NNNNN; }
----------------------------------------
*/

$row: (
  row: (
    base: (row, isReadable),
    modifiers: null,
    values: (
      top: (top, isReadable),
      bottom: (bottom, isReadable),
      center: (center, isReadable),
      stretch: (stretch, isReadable),
    ),
    property: align-items,
  )
);

// Additional rules

.row {
  display: flex !important;
}

%row {
  display: flex;
}
