/*
----------------------------------------
Row
----------------------------------------
usage:
  .row
----------------------------------------
output:
  display: flex;
----------------------------------------
example:
  .row {
    display: flex; }
----------------------------------------
*/

$row: (
  row: (
    base: null,
    modifiers: null,
    values: (
      row: (flex, isReadable),
    ),
    property: 'display',
    output: true,
    responsive: true,
    pseudoclasses: false,
  )
);
