/*
-----------------------------
Square
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/

$square: (
  square: (
    modifiers: (
      sq: (height, width),
    ),
    values: map-collect(
      map-get($global_values, percentage),
      map-get($global_values, grid),
      map-get($global_values, pixels)
    ),
    property: '',
  )
)
