/*
-----------------------------
Width
-----------------------------
usage:
  TK
-----------------------------
output:
  TK
-----------------------------
*/

$width: (
  width: (
    base: w,
    values: map-collect(
      map-get($global_values, percentage),
      map-get($global_values, grid),
      map-get($global_values, pixels)
    ),
    property: width,
  )
)
