---
title: Colors
layout: default
htmlclasses: bg-white-warm-2
bodyclasses: sans-5 lh-body m0 pt0 pb8 bg-white
---

<div class="lg-ml0 black-90">
  <div class="mx-auto maxw-md px2 pt3 lg-pt6 pb0">
    <h1 class="sans-11 fw700 lg-sans-18 lg-lsn2 lg-mln05">Colors</h1>
  </div>
</div>

  <ul class="hide md-block list-reset float-left sticky pl4 pt4 sans-3 black-80 fw400 top-0">
    <li class="pt05 bl05 bl-solid bl-violet-50 mb1px pl1"><a class="black-90 ho-violet-50" href="#violet">Violet</a></li>
    <li class="pt05 bl05 bl-solid bl-indigo-50 mb1px pl1"><a class="black-90 ho-indigo-50" href="#indigo">Indigo</a></li>
    <li class="pt05 bl05 bl-solid bl-coastal-50 mb1px pl1"><a class="black-90 ho-coastal-50" href="#coastal">Coastal</a></li>
    <li class="pt05 bl05 bl-solid bl-marine-50 mb1px pl1"><a class="black-90 ho-marine-50" href="#marine">Marine</a></li>
    <li class="pt05 bl05 bl-solid bl-blue-40 mb1px pl1"><a class="black-90 ho-blue-50" href="#blue">Blue</a></li>
    <li class="pt05 bl05 bl-solid bl-sky-40 mb1px pl1"><a class="black-90 ho-sky-50" href="#sky">Sky</a></li>
    <li class="pt05 bl05 bl-solid bl-cyan-40 mb1px pl1"><a class="black-90 ho-cyan-50" href="#cyan">Cyan</a></li>
    <li class="pt05 bl05 bl-solid bl-teal-40 mb1px pl1"><a class="black-90 ho-teal-50" href="#teal">Teal</a></li>
    <li class="pt05 bl05 bl-solid bl-mint-20 mb1px pl1"><a class="black-90 ho-mint-50" href="#mint">Mint</a></li>
    <li class="pt05 bl05 bl-solid bl-green-30 mb1px pl1"><a class="black-90 ho-green-50" href="#green">Green</a></li>
    <li class="pt05 bl05 bl-solid bl-lime-30 mb1px pl1"><a class="black-90 ho-lime-50" href="#lime">Lime</a></li>
    <li class="pt05 bl05 bl-solid bl-citron-30 mb1px pl1"><a class="black-90 ho-citron-50" href="#citron">Citron</a></li>
    <li class="pt05 bl05 bl-solid bl-yellow-50 mb1px pl1"><a class="black-90 ho-yellow-50" href="#yellow">Yellow</a></li>
    <li class="pt05 bl05 bl-solid bl-gold-50 mb1px pl1"><a class="black-90 ho-gold-50" href="#gold">Gold</a></li>
    <li class="pt05 bl05 bl-solid bl-orange-50 mb1px pl1"><a class="black-90 ho-orange-50" href="#orange">Orange</a></li>
    <li class="pt05 bl05 bl-solid bl-peach-50 mb1px pl1"><a class="black-90 ho-peach-50" href="#peach">Peach</a></li>
    <li class="pt05 bl05 bl-solid bl-terra-50 mb1px pl1"><a class="black-90 ho-terra-50" href="#terra">Terra</a></li>
    <li class="pt05 bl05 bl-solid bl-red-50 mb1px pl1"><a class="black-90 ho-red-50" href="#red">Red</a></li>
    <li class="pt05 bl05 bl-solid bl-magenta-50 mb1px pl1"><a class="black-90 ho-magenta-50" href="#magenta">Magenta</a></li>
    <li class="pt05 bl05 bl-solid bl-purple-50 mb1px pl1"><a class="black-90 ho-purple-50" href="#purple">Purple</a></li>
    <li class="pt05 bl05 bl-solid bl-black-cool-50 mb1px pl1"><a class="black-90 ho-black-cool-50" href="#black-cool">Neutrals</a></li>
  </ul>

<!-- VIOLET -->
<div class="lg-ml20 lg-mx-auto maxw-md p2 cf">
  <h2 class="sans-11 fw200 pt2 bb1px bb0 bb-black-20 mb2 lg-pt6 lg-bb-solid lg-pb2" id="classic">Violet</h2>
  <div class="">
    {% include
        swatch.html
        color="Violet 1"
        hsl="hsl(213, 58%, 93%)"
        hex='e1ebf7'
        %}
    {%  include
        swatch.html
        color="Violet 10"
        hsl="hsl(215, 67%, 87%)"
        hex='c8daf4'
        %}
    {%  include
        swatch.html
        color="Violet 20"
        hsl="hsl(221, 76%, 81%)"
        hex='a8c0f3'
        %}
    {%  include
        swatch.html
        color="Violet 30"
        hsl="hsl(218, 87%, 72%)"
        hex='79a6f6'
        %}
    {%  include
        swatch.html
        color="Violet 40"
        hsl="hsl(218, 100%, 66%)"
        hex='5392ff'
    %}
    {%  include
        swatch.html
        color="Violet 50"
        hsl="hsl(215, 70%, 52%)"
        hex='2d74da'
        %}
    {%  include
        swatch.html
        color="Violet 60"
        hsl="hsl(215, 68%, 38%)"
        hex='1f57a4'
        %}
    {%  include
        swatch.html
        color="Violet 70"
        hsl="hsl(217, 53%, 31%)"
        hex='25467a'
        %}
    {%  include
        swatch.html
        color="Violet 80"
        hsl="hsl(217, 50%, 23%)"
        hex='1d3458'
        %}
    {%  include
        swatch.html
        color="Violet 90"
        hsl="hsl(216, 41%, 17%)"
        hex='19273c'
        %}
    {%  include
        swatch.html
        color="Violet 30v"
        hsl="hsl(218, 87%, 72%)"
        hex='79a6f6'
        %}
    {%  include
        swatch.html
        color="Violet 40v"
        hsl="hsl(218, 100%, 66%)"
        hex='5392ff'
    %}
    {%  include
        swatch.html
        color="Violet 50v"
        hsl="hsl(215, 70%, 52%)"
        hex='2d74da'
        %}
    {%  include
        swatch.html
        color="Violet 60v"
        hsl="hsl(215, 68%, 38%)"
        hex='1f57a4'
        %}
  </div>


  <!-- INDIGO -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="indigo">Indigo</h2>
  <div class="">
    {% include
        swatch.html
        color="Indigo 1"
        hsl="hsl(213, 58%, 93%)"
        hex='e1ebf7'
        %}
    {%  include
        swatch.html
        color="Indigo 10"
        hsl="hsl(215, 67%, 87%)"
        hex='c8daf4'
        %}
    {%  include
        swatch.html
        color="Indigo 20"
        hsl="hsl(221, 76%, 81%)"
        hex='a8c0f3'
        %}
    {%  include
        swatch.html
        color="Indigo 30"
        hsl="hsl(218, 87%, 72%)"
        hex='79a6f6'
        %}
    {%  include
        swatch.html
        color="Indigo 40"
        hsl="hsl(218, 100%, 66%)"
        hex='5392ff'
    %}
    {%  include
        swatch.html
        color="Indigo 50"
        hsl="hsl(215, 70%, 52%)"
        hex='2d74da'
        %}
    {%  include
        swatch.html
        color="Indigo 60"
        hsl="hsl(215, 68%, 38%)"
        hex='1f57a4'
        %}
    {%  include
        swatch.html
        color="Indigo 70"
        hsl="hsl(217, 53%, 31%)"
        hex='25467a'
        %}
    {%  include
        swatch.html
        color="Indigo 80"
        hsl="hsl(217, 50%, 23%)"
        hex='1d3458'
        %}
    {%  include
        swatch.html
        color="Indigo 90"
        hsl="hsl(216, 41%, 17%)"
        hex='19273c'
        %}
        {%  include
            swatch.html
            color="Indigo 30v"
            %}
        {%  include
            swatch.html
            color="Indigo 40v"
            %}
        {%  include
            swatch.html
            color="Indigo 50v"
            %}
        {%  include
            swatch.html
            color="Indigo 60v"
            %}
  </div>

  <!-- COASTAL -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="coastal">Coastal</h2>
  <div class="">
    {% include
        swatch.html
        color="Coastal 1"
    %}
    {%  include
        swatch.html
        color="Coastal 10"
    %}
    {%  include
        swatch.html
        color="Coastal 20"
    %}
    {%  include
        swatch.html
        color="Coastal 30"
    %}
    {%  include
        swatch.html
        color="Coastal 40"
    %}
    {%  include
        swatch.html
        color="Coastal 50"
    %}
    {%  include
        swatch.html
        color="Coastal 60"
    %}
    {%  include
        swatch.html
        color="Coastal 70"
    %}
    {%  include
        swatch.html
        color="Coastal 80"
    %}
    {%  include
        swatch.html
        color="Coastal 90"
    %}
    {%  include
        swatch.html
        color="Coastal 20v"
    %}
    {%  include
        swatch.html
        color="Coastal 30v"
    %}
    {%  include
        swatch.html
        color="Coastal 50v"
    %}
    {%  include
        swatch.html
        color="Coastal 60v"
    %}
  </div>

  <!-- MARINE -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="marine">Marine</h2>
  <div class="">
    {% include
        swatch.html
        color="Marine 1"
    %}
    {%  include
        swatch.html
        color="Marine 10"
    %}
    {%  include
        swatch.html
        color="Marine 20"
    %}
    {%  include
        swatch.html
        color="Marine 30"
    %}
    {%  include
        swatch.html
        color="Marine 40"
    %}
    {%  include
        swatch.html
        color="Marine 50"
    %}
    {%  include
        swatch.html
        color="Marine 60"
    %}
    {%  include
        swatch.html
        color="Marine 70"
    %}
    {%  include
        swatch.html
        color="Marine 80"
    %}
    {%  include
        swatch.html
        color="Marine 90"
    %}
    {%  include
        swatch.html
        color="Marine 40v"
    %}
  </div>

  <!-- BLUE -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="blue">Blue</h2>
  <div class="">
    {% include
        swatch.html
        color="Blue 1"
    %}
    {%  include
        swatch.html
        color="Blue 10"
    %}
    {%  include
        swatch.html
        color="Blue 20"
    %}
    {%  include
        swatch.html
        color="Blue 30"
    %}
    {%  include
        swatch.html
        color="Blue 40"
    %}
    {%  include
        swatch.html
        color="Blue 50"
    %}
    {%  include
        swatch.html
        color="Blue 60"
    %}
    {%  include
        swatch.html
        color="Blue 70"
    %}
    {%  include
        swatch.html
        color="Blue 80"
    %}
    {%  include
        swatch.html
        color="Blue 90"
    %}
    {%  include
        swatch.html
        color="Blue 40v"
    %}
    {%  include
        swatch.html
        color="Blue 50v"
    %}
    {%  include
        swatch.html
        color="Blue 60v"
    %}
  </div>

  <!-- SKY -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="sky">Sky</h2>
  <div class="">
    {% include
        swatch.html
        color="Sky 1"
    %}
    {%  include
        swatch.html
        color="Sky 10"
    %}
    {%  include
        swatch.html
        color="Sky 20"
    %}
    {%  include
        swatch.html
        color="Sky 30"
    %}
    {%  include
        swatch.html
        color="Sky 40"
    %}
    {%  include
        swatch.html
        color="Sky 50"
    %}
    {%  include
        swatch.html
        color="Sky 60"
    %}
    {%  include
        swatch.html
        color="Sky 70"
    %}
    {%  include
        swatch.html
        color="Sky 80"
    %}
    {%  include
        swatch.html
        color="Sky 90"
    %}
    {%  include
        swatch.html
        color="Sky 30v"
    %}
    {%  include
        swatch.html
        color="Sky 40v"
    %}
    {%  include
        swatch.html
        color="Sky 50v"
    %}
    {%  include
        swatch.html
        color="Sky 60v"
    %}
  </div>

  <!-- CYAN -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="cyan">Cyan</h2>
  <div class="">
    {% include
        swatch.html
        color="Cyan 1"
    %}
    {%  include
        swatch.html
        color="Cyan 10"
    %}
    {%  include
        swatch.html
        color="Cyan 20"
    %}
    {%  include
        swatch.html
        color="Cyan 30"
    %}
    {%  include
        swatch.html
        color="Cyan 40"
    %}
    {%  include
        swatch.html
        color="Cyan 50"
    %}
    {%  include
        swatch.html
        color="Cyan 60"
    %}
    {%  include
        swatch.html
        color="Cyan 70"
    %}
    {%  include
        swatch.html
        color="Cyan 80"
    %}
    {%  include
        swatch.html
        color="Cyan 90"
    %}
    {%  include
        swatch.html
        color="Cyan 10v"
    %}
    {%  include
        swatch.html
        color="Cyan 20v"
    %}
    {%  include
        swatch.html
        color="Cyan 30v"
    %}
  </div>

  <!-- TEAL -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="teal">Teal</h2>
  <div class="">
    {% include
        swatch.html
        color="Teal 1"
    %}
    {%  include
        swatch.html
        color="Teal 10"
    %}
    {%  include
        swatch.html
        color="Teal 20"
    %}
    {%  include
        swatch.html
        color="Teal 30"
    %}
    {%  include
        swatch.html
        color="Teal 40"
    %}
    {%  include
        swatch.html
        color="Teal 50"
    %}
    {%  include
        swatch.html
        color="Teal 60"
    %}
    {%  include
        swatch.html
        color="Teal 70"
    %}
    {%  include
        swatch.html
        color="Teal 80"
    %}
    {%  include
        swatch.html
        color="Teal 90"
    %}
    {%  include
        swatch.html
        color="Teal 10v"
    %}
    {%  include
        swatch.html
        color="Teal 20v"
    %}
    {%  include
        swatch.html
        color="Teal 30v"
    %}
  </div>

  <!-- MINT -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="mint">Mint</h2>
  <div class="">
    {% include
        swatch.html
        color="Mint 1"
    %}
    {%  include
        swatch.html
        color="Mint 10"
    %}
    {%  include
        swatch.html
        color="Mint 20"
    %}
    {%  include
        swatch.html
        color="Mint 30"
    %}
    {%  include
        swatch.html
        color="Mint 40"
    %}
    {%  include
        swatch.html
        color="Mint 50"
    %}
    {%  include
        swatch.html
        color="Mint 60"
    %}
    {%  include
        swatch.html
        color="Mint 70"
    %}
    {%  include
        swatch.html
        color="Mint 80"
    %}
    {%  include
        swatch.html
        color="Mint 90"
    %}
    {%  include
        swatch.html
        color="Mint 1v"
    %}
    {%  include
        swatch.html
        color="Mint 10v"
    %}
    {%  include
        swatch.html
        color="Mint 20v"
    %}
    {%  include
        swatch.html
        color="Mint 30v"
    %}
    {%  include
        swatch.html
        color="Mint 60v"
    %}
  </div>

  <!-- GREEN -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="green">Green</h2>
  <div class="">
    {% include
        swatch.html
        color="Green 1"
    %}
    {%  include
        swatch.html
        color="Green 10"
    %}
    {%  include
        swatch.html
        color="Green 20"
    %}
    {%  include
        swatch.html
        color="Green 30"
    %}
    {%  include
        swatch.html
        color="Green 40"
    %}
    {%  include
        swatch.html
        color="Green 50"
    %}
    {%  include
        swatch.html
        color="Green 60"
    %}
    {%  include
        swatch.html
        color="Green 70"
    %}
    {%  include
        swatch.html
        color="Green 80"
    %}
    {%  include
        swatch.html
        color="Green 90"
    %}
    {%  include
        swatch.html
        color="Green 1v"
    %}
    {%  include
        swatch.html
        color="Green 10v"
    %}
    {%  include
        swatch.html
        color="Green 20v"
    %}
    {%  include
        swatch.html
        color="Green 30v"
    %}
    {%  include
        swatch.html
        color="Green 40v"
    %}
  </div>

  <!-- LIME -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="lime">Lime</h2>
  <div class="">
    {% include
        swatch.html
        color="Lime 1"
    %}
    {%  include
        swatch.html
        color="Lime 10"
    %}
    {%  include
        swatch.html
        color="Lime 20"
    %}
    {%  include
        swatch.html
        color="Lime 30"
    %}
    {%  include
        swatch.html
        color="Lime 40"
    %}
    {%  include
        swatch.html
        color="Lime 50"
    %}
    {%  include
        swatch.html
        color="Lime 60"
    %}
    {%  include
        swatch.html
        color="Lime 70"
    %}
    {%  include
        swatch.html
        color="Lime 80"
    %}
    {%  include
        swatch.html
        color="Lime 90"
    %}
    {%  include
        swatch.html
        color="Lime 1v"
    %}
    {%  include
        swatch.html
        color="Lime 10v"
    %}
    {%  include
        swatch.html
        color="Lime 20v"
    %}
    {%  include
        swatch.html
        color="Lime 30v"
    %}
    {%  include
        swatch.html
        color="Lime 40v"
    %}
  </div>

  <!-- Citron -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="citron">Citron</h2>
  <div class="">
    {% include
        swatch.html
        color="Citron 1"
    %}
    {%  include
        swatch.html
        color="Citron 10"
    %}
    {%  include
        swatch.html
        color="Citron 20"
    %}
    {%  include
        swatch.html
        color="Citron 30"
    %}
    {%  include
        swatch.html
        color="Citron 40"
    %}
    {%  include
        swatch.html
        color="Citron 50"
    %}
    {%  include
        swatch.html
        color="Citron 60"
    %}
    {%  include
        swatch.html
        color="Citron 70"
    %}
    {%  include
        swatch.html
        color="Citron 80"
    %}
    {%  include
        swatch.html
        color="Citron 90"
    %}
    {%  include
        swatch.html
        color="Citron 1v"
    %}
    {%  include
        swatch.html
        color="Citron 10v"
    %}
    {%  include
        swatch.html
        color="Citron 20v"
    %}
    {%  include
        swatch.html
        color="Citron 30v"
    %}
    {%  include
        swatch.html
        color="Citron 40v"
    %}
  </div>

  <!-- Yellow -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="yellow">Yellow</h2>
  <div class="">
    {% include
        swatch.html
        color="Yellow 1"
    %}
    {%  include
        swatch.html
        color="Yellow 10"
    %}
    {%  include
        swatch.html
        color="Yellow 20"
    %}
    {%  include
        swatch.html
        color="Yellow 30"
    %}
    {%  include
        swatch.html
        color="Yellow 40"
    %}
    {%  include
        swatch.html
        color="Yellow 50"
    %}
    {%  include
        swatch.html
        color="Yellow 60"
    %}
    {%  include
        swatch.html
        color="Yellow 70"
    %}
    {%  include
        swatch.html
        color="Yellow 80"
    %}
    {%  include
        swatch.html
        color="Yellow 90"
    %}
    {%  include
        swatch.html
        color="Yellow 10v"
    %}
    {%  include
        swatch.html
        color="Yellow 20v"
    %}
  </div>

  <!-- Gold -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="gold">Gold</h2>
  <div class="">
    {% include
        swatch.html
        color="Gold 1"
    %}
    {%  include
        swatch.html
        color="Gold 10"
    %}
    {%  include
        swatch.html
        color="Gold 20"
    %}
    {%  include
        swatch.html
        color="Gold 30"
    %}
    {%  include
        swatch.html
        color="Gold 40"
    %}
    {%  include
        swatch.html
        color="Gold 50"
    %}
    {%  include
        swatch.html
        color="Gold 60"
    %}
    {%  include
        swatch.html
        color="Gold 70"
    %}
    {%  include
        swatch.html
        color="Gold 80"
    %}
    {%  include
        swatch.html
        color="Gold 90"
    %}
    {%  include
        swatch.html
        color="Gold 10v"
    %}
    {%  include
        swatch.html
        color="Gold 20v"
    %}
    {%  include
        swatch.html
        color="Gold 30v"
    %}
    {%  include
        swatch.html
        color="Gold 40v"
    %}
    {%  include
        swatch.html
        color="Gold 50v"
    %}
  </div>

  <!-- Orange -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="orange">Orange</h2>
  <div class="">
    {% include
        swatch.html
        color="Orange 1"
    %}
    {%  include
        swatch.html
        color="Orange 10"
    %}
    {%  include
        swatch.html
        color="Orange 20"
    %}
    {%  include
        swatch.html
        color="Orange 30"
    %}
    {%  include
        swatch.html
        color="Orange 40"
    %}
    {%  include
        swatch.html
        color="Orange 50"
    %}
    {%  include
        swatch.html
        color="Orange 60"
    %}
    {%  include
        swatch.html
        color="Orange 70"
    %}
    {%  include
        swatch.html
        color="Orange 80"
    %}
    {%  include
        swatch.html
        color="Orange 90"
    %}
    {%  include
        swatch.html
        color="Orange 1v"
    %}
    {%  include
        swatch.html
        color="Orange 10v"
    %}
    {%  include
        swatch.html
        color="Orange 20v"
    %}
    {%  include
        swatch.html
        color="Orange 30v"
    %}
  </div>

  <!-- Peach -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="peach">Peach</h2>
  <div class="">
    {% include
        swatch.html
        color="Peach 1"
    %}
    {%  include
        swatch.html
        color="Peach 10"
    %}
    {%  include
        swatch.html
        color="Peach 20"
    %}
    {%  include
        swatch.html
        color="Peach 30"
    %}
    {%  include
        swatch.html
        color="Peach 40"
    %}
    {%  include
        swatch.html
        color="Peach 50"
    %}
    {%  include
        swatch.html
        color="Peach 60"
    %}
    {%  include
        swatch.html
        color="Peach 70"
    %}
    {%  include
        swatch.html
        color="Peach 80"
    %}
    {%  include
        swatch.html
        color="Peach 90"
    %}
    {%  include
        swatch.html
        color="Peach 20v"
    %}
    {%  include
        swatch.html
        color="Peach 30v"
    %}
    {%  include
        swatch.html
        color="Peach 40v"
    %}
  </div>

  <!-- Terra -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="terra">Terra</h2>
  <div class="">
    {% include
        swatch.html
        color="Terra 1"
    %}
    {%  include
        swatch.html
        color="Terra 10"
    %}
    {%  include
        swatch.html
        color="Terra 20"
    %}
    {%  include
        swatch.html
        color="Terra 30"
    %}
    {%  include
        swatch.html
        color="Terra 40"
    %}
    {%  include
        swatch.html
        color="Terra 50"
    %}
    {%  include
        swatch.html
        color="Terra 60"
    %}
    {%  include
        swatch.html
        color="Terra 70"
    %}
    {%  include
        swatch.html
        color="Terra 80"
    %}
    {%  include
        swatch.html
        color="Terra 90"
    %}
    {%  include
        swatch.html
        color="Terra 20v"
    %}
    {%  include
        swatch.html
        color="Terra 30v"
    %}
    {%  include
        swatch.html
        color="Terra 40v"
    %}
    {%  include
        swatch.html
        color="Terra 50v"
    %}
  </div>

  <!-- Red -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="Red">Red</h2>
  <div class="">
    {% include
        swatch.html
        color="Red 1"
    %}
    {%  include
        swatch.html
        color="Red 10"
    %}
    {%  include
        swatch.html
        color="Red 20"
    %}
    {%  include
        swatch.html
        color="Red 30"
    %}
    {%  include
        swatch.html
        color="Red 40"
    %}
    {%  include
        swatch.html
        color="Red 50"
    %}
    {%  include
        swatch.html
        color="Red 60"
    %}
    {%  include
        swatch.html
        color="Red 70"
    %}
    {%  include
        swatch.html
        color="Red 80"
    %}
    {%  include
        swatch.html
        color="Red 90"
    %}
    {%  include
        swatch.html
        color="Red 10v"
    %}
    {%  include
        swatch.html
        color="Red 20v"
    %}
    {%  include
        swatch.html
        color="Red 30v"
    %}
    {%  include
        swatch.html
        color="Red 40v"
    %}
    {%  include
        swatch.html
        color="Red 50v"
    %}
    {%  include
        swatch.html
        color="Red 60v"
    %}
  </div>

  <!-- Magenta -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="magenta">Magenta</h2>
  <div class="">
    {% include
        swatch.html
        color="Magenta 1"
    %}
    {%  include
        swatch.html
        color="Magenta 10"
    %}
    {%  include
        swatch.html
        color="Magenta 20"
    %}
    {%  include
        swatch.html
        color="Magenta 30"
    %}
    {%  include
        swatch.html
        color="Magenta 40"
    %}
    {%  include
        swatch.html
        color="Magenta 50"
    %}
    {%  include
        swatch.html
        color="Magenta 60"
    %}
    {%  include
        swatch.html
        color="Magenta 70"
    %}
    {%  include
        swatch.html
        color="Magenta 80"
    %}
    {%  include
        swatch.html
        color="Magenta 90"
    %}
    {%  include
        swatch.html
        color="Magenta 10v"
    %}
    {%  include
        swatch.html
        color="Magenta 20v"
    %}
    {%  include
        swatch.html
        color="Magenta 30v"
    %}
    {%  include
        swatch.html
        color="Magenta 40v"
    %}
    {%  include
        swatch.html
        color="Magenta 50v"
    %}
    {%  include
        swatch.html
        color="Magenta 60v"
    %}
  </div>

  <!-- Purple -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="purple">Purple</h2>
  <div class="">
    {% include
        swatch.html
        color="Purple 1"
    %}
    {%  include
        swatch.html
        color="Purple 10"
    %}
    {%  include
        swatch.html
        color="Purple 20"
    %}
    {%  include
        swatch.html
        color="Purple 30"
    %}
    {%  include
        swatch.html
        color="Purple 40"
    %}
    {%  include
        swatch.html
        color="Purple 50"
    %}
    {%  include
        swatch.html
        color="Purple 60"
    %}
    {%  include
        swatch.html
        color="Purple 70"
    %}
    {%  include
        swatch.html
        color="Purple 80"
    %}
    {%  include
        swatch.html
        color="Purple 90"
    %}
    {%  include
        swatch.html
        color="Purple 1v"
    %}
    {%  include
        swatch.html
        color="Purple 10v"
    %}
    {%  include
        swatch.html
        color="Purple 20v"
    %}
    {%  include
        swatch.html
        color="Purple 30v"
    %}
    {%  include
        swatch.html
        color="Purple 40v"
    %}
    {%  include
        swatch.html
        color="Purple 50v"
    %}
  </div>

  <!-- black cool -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="black-cool">Black cool</h2>
  <div class="">
    {% include
        swatch.html
        color="Black cool 1"
    %}
    {%  include
        swatch.html
        color="Black cool 10"
    %}
    {%  include
        swatch.html
        color="Black cool 20"
    %}
    {%  include
        swatch.html
        color="Black cool 30"
    %}
    {%  include
        swatch.html
        color="Black cool 40"
    %}
    {%  include
        swatch.html
        color="Black cool 50"
    %}
    {%  include
        swatch.html
        color="Black cool 60"
    %}
    {%  include
        swatch.html
        color="Black cool 70"
    %}
    {%  include
        swatch.html
        color="Black cool 80"
    %}
    {%  include
        swatch.html
        color="Black cool 90"
    %}
  </div>

  <!-- black-->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="black">Black</h2>
  <div class="">
    {% include
        swatch.html
        color="Black 1"
    %}
    {%  include
        swatch.html
        color="Black 10"
    %}
    {%  include
        swatch.html
        color="Black 20"
    %}
    {%  include
        swatch.html
        color="Black 30"
    %}
    {%  include
        swatch.html
        color="Black 40"
    %}
    {%  include
        swatch.html
        color="Black 50"
    %}
    {%  include
        swatch.html
        color="Black 60"
    %}
    {%  include
        swatch.html
        color="Black 70"
    %}
    {%  include
        swatch.html
        color="Black 80"
    %}
    {%  include
        swatch.html
        color="Black 90"
    %}
  </div>

  <!-- black Warm-->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="black-warm">Black warm</h2>
  <div class="">
    {% include
        swatch.html
        color="Black warm 1"
    %}
    {%  include
        swatch.html
        color="Black warm 10"
    %}
    {%  include
        swatch.html
        color="Black warm 20"
    %}
    {%  include
        swatch.html
        color="Black warm 30"
    %}
    {%  include
        swatch.html
        color="Black warm 40"
    %}
    {%  include
        swatch.html
        color="Black warm 50"
    %}
    {%  include
        swatch.html
        color="Black warm 60"
    %}
    {%  include
        swatch.html
        color="Black warm 70"
    %}
    {%  include
        swatch.html
        color="Black warm 80"
    %}
    {%  include
        swatch.html
        color="Black warm 90"
    %}
  </div>

  <!-- black Trans-->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="black-trans">Black trans</h2>
  <div class="">
    {% include
        swatch.html
        color="Black trans 1"
    %}
    {%  include
        swatch.html
        color="Black trans 10"
    %}
    {%  include
        swatch.html
        color="Black trans 20"
    %}
    {%  include
        swatch.html
        color="Black trans 30"
    %}
    {%  include
        swatch.html
        color="Black trans 40"
    %}
    {%  include
        swatch.html
        color="Black trans 50"
    %}
    {%  include
        swatch.html
        color="Black trans 60"
    %}
    {%  include
        swatch.html
        color="Black trans 70"
    %}
    {%  include
        swatch.html
        color="Black trans 80"
    %}
    {%  include
        swatch.html
        color="Black trans 90"
    %}
  </div>

  <!-- Cool White-->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="cool-white">White cool</h2>
  <div class="">
    {% include
        swatch.html
        color="White cool 1"
    %}
    {%  include
        swatch.html
        color="White cool 2"
    %}
    {%  include
        swatch.html
        color="White cool 3"
    %}
    {%  include
        swatch.html
        color="White cool 4"
    %}
  </div>

  <!-- White-->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="white">White</h2>
  <div class="">
    {% include
        swatch.html
        color="White"
    %}
    {% include
        swatch.html
        color="White 1"
    %}
    {%  include
        swatch.html
        color="White 2"
    %}
    {%  include
        swatch.html
        color="White 3"
    %}
    {%  include
        swatch.html
        color="White 4"
    %}
  </div>

  <!-- White Warm -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="white-warm">White warm</h2>
  <div class="">
    {% include
        swatch.html
        color="White warm 1"
    %}
    {%  include
        swatch.html
        color="White warm 2"
    %}
    {%  include
        swatch.html
        color="White warm 3"
    %}
    {%  include
        swatch.html
        color="White warm 4"
    %}
  </div>

  <!-- Black -->
  <h2 class="sans-11 fw200 pt6 bb1px bb0 bb-black-20 mb2 lg-bb-solid lg-pb2 clear" id="black">Black</h2>
  <div class="">
    {% include
        swatch.html
        color="Black"
    %}
  </div>

  <!-- /color-swatches -->
</div>
