---
title: Portal home
layout: default
htmlclasses: bg-white
bodyclasses: bg-white-warm-3 lh-body m0 p0 fw400
---

{%  include
    portal--header.html
    %}

<div class="mx-auto mt2 md-mt4 px2 pb9">
  <div class="col md-row f-stretch mxn1">
    <div class="f1 px1 col f-stretch">
      <div class="f1 card px1 pt105 pb2 md-px2 md-pt2 md-pb3 bg-white mb1 md-mb2 radius-rounded b1px b-solid b-gray-trans-10">
        <div class="fw200 sans-8 lh-single">People</div>
        <ul class="fw400 sans-5 lh-cap mt1 pl2 ml0 mb0 ">
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=9
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=5
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=13
              %}</li>
        </ul>
      </div>
    </div>
    <div class="f1 px1 col f-stretch">
      <div class="f1 card px1 pt105 pb2 md-px2 md-pt2 md-pb3 bg-white mb1 md-mb2 radius-rounded b1px b-solid b-gray-trans-10">
        <div class="fw200 sans-8 lh-single">Places</div>
        <ul class="fw400 sans-5 lh-cap mt1 pl2 ml0 mb0 ">
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=5
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=7
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=4
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=9
              %}</li>
          <li class="pt1 ml05 md-ml0">{% include wireframe--tk.html count=15
              %}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col md-row f-stretch mxn1">
    <div class="f1 px1 col f-stretch">
      <div class="f1 card px1 pt105 pb2 md-px2 md-pt2 md-pb3 bg-white mb1 md-mb2 radius-rounded b1px b-solid b-gray-trans-10">
        <div class="fw200 sans-8 lh-single">Modules</div>
        <div class="col md-row mxn05 pt105">
          <div class="f1 mx05 mt1">
            <a class="placeholder radius-rounded h10 bg-terra-50 row f-center plain b2px b-solid b-transparent ho-b-black-100" href="portal-m1.html">
              <div class="f1 center white">Module 1</div>
            </a>
          </div>
          <div class="f1 mx05 mt1">
            <a class="placeholder radius-rounded h10 bg-blue-50v row f-center plain b2px b-solid b-transparent ho-b-black-100" href="portal-m2.html">
              <div class="f1 center white">Module 2</div>
            </a>
          </div>
          <div class="f1 mx05 mt1">
            <a class="placeholder bg-gray-90 radius-rounded h10 row f-center plain b2px b-solid b-transparent ho-b-black-100" href="portal-m3.html">
              <div class="f1 center white">Module 3</div>
            </a>
          </div>
        </div>
        <div class="col md-row mxn05">
          <div class="f1 mx05 mt1">
            <a class="placeholder bg-gold-20v radius-rounded h10 row f-center plain b2px b-solid b-transparent ho-b-black-100" href="portal-m4.html">
              <div class="f1 center white">Module 4</div>
            </a>
          </div>
          <div class="f1 mx05 mt1">
            <a class="placeholder bg-purple-50v radius-rounded h10 row f-center plain b2px b-solid b-transparent ho-b-black-100" href="portal-m5.html">
              <div class="f1 center white">Module 5</div>
            </a>
          </div>
          <div class="f1 mx05 mt1">
            <a class="placeholder bg-green-40v radius-rounded h10 b2px b-solid b-transparent ho-b-black-100 row f-center plain" href="portal-m6.html">
              <div class="f1 center white">Module 6</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
