$global_values: (
  pixels: (
    1px: 1px,
    2px: 2px,
  ),
  negPixels: (
    n1px: -1px,
    n2px: -2px,
  ),
  grid: (
    '05': $grid-05,
    1: $grid-1,
    105: $grid-105,
    2: $grid-2,
    3: $grid-3,
    4: $grid-4,
    5: $grid-5,
    6: $grid-6,
    7: $grid-7,
    8: $grid-8,
    9: $grid-9,
    10: $grid-10,
    15: $grid-15,
    20: $grid-20,
    25: $grid-25,
    30: $grid-30,
    40: $grid-40,
    50: $grid-50,
  ),
  negGrid: (
    n05: -#{$grid-05},
    n1: -#{$grid-1},
    n105: -#{$grid-105},
    n2: -#{$grid-2},
    n3: -#{$grid-3},
    n4: -#{$grid-4},
    n5: -#{$grid-5},
  ),
  flex: (
    f1: 1 0 0,
    f2: 2 0 0,
    f3: 3 0 0,
    f4: 4 0 0,
    f5: 5 0 0,
    f6: 6 0 0,
    f7: 7 0 0,
    f8: 8 0 0,
    f9: 9 0 0,
    f10: 10 0 0,
    f11: 11 0 0,
    fill: (1 0 0, isReadable),
    fit: (0, isReadable),
  ),
  percentage: (
    10ct: 10%,
    20ct: 20%,
    25ct: 25%,
    30ct: 30%,
    33ct: 33.33333333%,
    40ct: 40%,
    50ct: 50%,
    60ct: 60%,
    66ct: 66.66666666%,
    70ct: 70%,
    75ct: 75%,
    80ct: 80%,
    90ct: 90%,
    100ct: 100%,
  ),
  typeScale: (
    mono-s1: ($mono-s1, isReadable),
    mono-s2: ($mono-s2, isReadable),
    mono-s3: ($mono-s3, isReadable),
    mono-s4: ($mono-s4, isReadable),
    mono-s5: ($mono-s5, isReadable),
    mono-s6: ($mono-s6, isReadable),
    mono-s7: ($mono-s7, isReadable),
    mono-s8: ($mono-s8, isReadable),
    mono-s9: ($mono-s9, isReadable),
    mono-s10: ($mono-s10, isReadable),
    sans-s1: ($sans-s1, isReadable),
    sans-s2: ($sans-s2, isReadable),
    sans-s3: ($sans-s3, isReadable),
    sans-s4: ($sans-s4, isReadable),
    sans-s5: ($sans-s5, isReadable),
    sans-s6: ($sans-s6, isReadable),
    sans-s7: ($sans-s7, isReadable),
    sans-s8: ($sans-s8, isReadable),
    sans-s9: ($sans-s9, isReadable),
    sans-s10: ($sans-s10, isReadable),
    serif-s1: ($serif-s1, isReadable),
    serif-s2: ($serif-s2, isReadable),
    serif-s3: ($serif-s3, isReadable),
    serif-s4: ($serif-s4, isReadable),
    serif-s5: ($serif-s5, isReadable),
    serif-s6: ($serif-s6, isReadable),
    serif-s7: ($serif-s7, isReadable),
    serif-s8: ($serif-s8, isReadable),
    serif-s9: ($serif-s9, isReadable),
    serif-s10: ($serif-s10, isReadable),
  ),
  typefaces: (
    mono: ($font-mono, isReadable),
    sans: ($font-sans, isReadable),
    serif: ($font-serif, isReadable),
  ),
  fontWeights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
  ),
  colors: (
    blue: ($color-blue, isReadable),
    brightmint: ($color-brightmint, isReadable),
    cream: ($color-cream, isReadable),
    gold: ($color-gold, isReadable),
    green: ($color-green, isReadable),
    red: ($color-red, isReadable),
    trueblack: ($color-trueblack, isReadable),
    textblack: ($color-textblack, isReadable),
    darkgray: ($color-darkgray, isReadable),
    mediumgray: ($color-mediumgray, isReadable),
    mediumgray-trans: ($color-mediumgray-trans, isReadable),
    lightgray: ($color-lightgray, isReadable),
    lightestgray: ($color-lightestgray, isReadable),
    white: ($color-white, isReadable),
  ),
  typeStyles: (
    italic: (italic, isReadable),
    underline: (underline, isReadable),
    strike: (strike, isReadable),
    uppercase: (uppercase, isReadable),
    lowercase: (lowercase, isReadable),
    capitalize: (capitalize, isReadable),
  ),
  lineHeights: (
    single: ($lh-single, isReadable),
    hed: ($lh-hed, isReadable),
    cap: ($lh-cap, isReadable),
    body: ($lh-body, isReadable),
    display: ($lh-display, isReadable),
  ),
);

$breakpoints: (
  xs: null,
  sm: 40rem,
  md: 52rem,
  lg: 64rem,
);

$variants: (
  ('placeholder', '%', null),
  ('class', '.', ' !important'),
);
