$global_values: (
  auto: (
    'auto': ('auto', isReadable),
  ),
  breakpoints: (
    'sm': ($breakpoint-sm, isReadable),
    'md': ($breakpoint-md, isReadable),
    'lg': ($breakpoint-lg, isReadable),
    'xl': ($breakpoint-xl, isReadable),
  ),
  colors: (
    'blue': ($color-blue, isReadable),
    'brightmint': ($color-brightmint, isReadable),
    'cream': ($color-cream, isReadable),
    'gold': ($color-gold, isReadable),
    'green': ($color-green, isReadable),
    'red': ($color-red, isReadable),
    'trueblack': ($color-trueblack, isReadable),
    'textblack': ($color-textblack, isReadable),
    'darkgray': ($color-darkgray, isReadable),
    'mediumgray': ($color-mediumgray, isReadable),
    'mediumgray-trans': ($color-mediumgray-trans, isReadable),
    'lightgray': ($color-lightgray, isReadable),
    'lightestgray': ($color-lightestgray, isReadable),
    'white': ($color-white, isReadable),
  //
  //  system colors based on IBM Design Language colors
  //  https://github.com/IBM-Design/colors
  //
    'ultramarine-1': (#e7e9f7, isReadable),
    'ultramarine-10': (#d1d7f4, isReadable),
    'ultramarine-20': (#b0bef3, isReadable),
    'ultramarine-30': (#89a2f6, isReadable),
    'ultramarine-40': (#648fff, isReadable),
    'ultramarine-50': (#3c6df0, isReadable),
    'ultramarine-60': (#3151b7, isReadable),
    'ultramarine-70': (#2e3f8f, isReadable),
    'ultramarine-80': (#252e6a, isReadable),
    'ultramarine-90': (#20214f, isReadable),
    'blue-1': (#e1ebf7, isReadable),
    'blue-10': (#c8daf4, isReadable),
    'blue-20': (#a8c0f3, isReadable),
    'blue-30': (#79a6f6, isReadable),
    'blue-40': (#5392ff, isReadable),
    'blue-50': (#2d74da, isReadable),
    'blue-60': (#1f57a4, isReadable),
    'blue-70': (#25467a, isReadable),
    'blue-80': (#1d3458, isReadable),
    'blue-90': (#19273c, isReadable),
    'cerulean-10': (#c2dbf4, isReadable),
    'cerulean-20': (#95c4f3, isReadable),
    'cerulean-30': (#56acf2, isReadable),
    'cerulean-40': (#009bef, isReadable),
    'cerulean-50': (#047cc0, isReadable),
    'cerulean-60': (#175d8d, isReadable),
    'cerulean-70': (#1c496d, isReadable),
    'cerulean-80': (#1d364d, isReadable),
    'cerulean-90': (#1b2834, isReadable),
    'aqua-1': (#d1f0f7, isReadable),
    'aqua-10': (#a0e3f0, isReadable),
    'aqua-20': (#71cddd, isReadable),
    'aqua-30': (#00b6cb, isReadable),
    'aqua-40': (#12a3b4, isReadable),
    'aqua-50': (#188291, isReadable),
    'aqua-60': (#17616b, isReadable),
    'aqua-70': (#164d56, isReadable),
    'aqua-80': (#13393e, isReadable),
    'aqua-90': (#122a2e, isReadable),
    'teal-1': (#c0f5e8, isReadable),
    'teal-10': (#8ee9d4, isReadable),
    'teal-20': (#40d5bb, isReadable),
    'teal-30': (#00baa1, isReadable),
    'teal-40': (#00a78f, isReadable),
    'teal-50': (#008673, isReadable),
    'teal-60': (#006456, isReadable),
    'teal-70': (#124f44, isReadable),
    'teal-80': (#133a32, isReadable),
    'teal-90': (#122b26, isReadable),
    'green-1': (#cef3d1, isReadable),
    'green-10': (#89eda0, isReadable),
    'green-20': (#57d785, isReadable),
    'green-30': (#34bc6e, isReadable),
    'green-40': (#00aa5e, isReadable),
    'green-50': (#00884b, isReadable),
    'green-60': (#116639, isReadable),
    'green-70': (#12512e, isReadable),
    'green-80': (#123b22, isReadable),
    'green-90': (#112c1b, isReadable),
    'lime-1': (#d7f4bd, isReadable),
    'lime-10': (#b4e876, isReadable),
    'lime-20': (#95d13c, isReadable),
    'lime-30': (#81b532, isReadable),
    'lime-40': (#73a22c, isReadable),
    'lime-50': (#5b8121, isReadable),
    'lime-60': (#426200, isReadable),
    'lime-70': (#374c1a, isReadable),
    'lime-80': (#283912, isReadable),
    'lime-90': (#1f2a10, isReadable),
    'yellow-1': (#fbeaae, isReadable),
    'yellow-10': (#fed500, isReadable),
    'yellow-20': (#e3bc13, isReadable),
    'yellow-30': (#c6a21a, isReadable),
    'yellow-40': (#b3901f, isReadable),
    'yellow-50': (#91721f, isReadable),
    'yellow-60': (#70541b, isReadable),
    'yellow-70': (#5b421a, isReadable),
    'yellow-80': (#452f18, isReadable),
    'yellow-90': (#372118, isReadable),
    'gold-1': (#f5e8db, isReadable),
    'gold-10': (#ffd191, isReadable),
    'gold-20': (#ffb000, isReadable),
    'gold-30': (#e39d14, isReadable),
    'gold-40': (#c4881c, isReadable),
    'gold-50': (#9c6d1e, isReadable),
    'gold-60': (#74521b, isReadable),
    'gold-70': (#5b421c, isReadable),
    'gold-80': (#42301b, isReadable),
    'gold-90': (#2f261c, isReadable),
    'orange-1': (#f5e8de, isReadable),
    'orange-10': (#fdcfad, isReadable),
    'orange-20': (#fcaf6d, isReadable),
    'orange-30': (#fe8500, isReadable),
    'orange-40': (#db7c00, isReadable),
    'orange-50': (#ad6418, isReadable),
    'orange-60': (#814b19, isReadable),
    'orange-70': (#653d1b, isReadable),
    'orange-80': (#482e1a, isReadable),
    'orange-90': (#33241c, isReadable),
    'peach-1': (#f7e7e2, isReadable),
    'peach-10': (#f8d0c3, isReadable),
    'peach-20': (#faad96, isReadable),
    'peach-30': (#fc835c, isReadable),
    'peach-40': (#fe6100, isReadable),
    'peach-50': (#c45433, isReadable),
    'peach-60': (#993a1d, isReadable),
    'peach-70': (#782f1c, isReadable),
    'peach-80': (#56251a, isReadable),
    'peach-90': (#3a201b, isReadable),
    'red-1': (#f7e6e6, isReadable),
    'red-10': (#fccec7, isReadable),
    'red-20': (#ffaa9d, isReadable),
    'red-30': (#ff806c, isReadable),
    'red-40': (#ff5c49, isReadable),
    'red-50': (#e62325, isReadable),
    'red-60': (#aa231f, isReadable),
    'red-70': (#83231e, isReadable),
    'red-80': (#5c1f1b, isReadable),
    'red-90': (#3e1d1b, isReadable),
    'magenta-1': (#f5e7eb, isReadable),
    'magenta-10': (#f5cedb, isReadable),
    'magenta-20': (#f7aac3, isReadable),
    'magenta-30': (#f87eac, isReadable),
    'magenta-40': (#ff509e, isReadable),
    'magenta-50': (#dc267f, isReadable),
    'magenta-60': (#a91560, isReadable),
    'magenta-70': (#831b4c, isReadable),
    'magenta-80': (#5d1a38, isReadable),
    'magenta-90': (#401a29, isReadable),
    'purple-1': (#f7e4fb, isReadable),
    'purple-10': (#efcef3, isReadable),
    'purple-20': (#e4adea, isReadable),
    'purple-30': (#d68adf, isReadable),
    'purple-40': (#cb71d7, isReadable),
    'purple-50': (#c22dd5, isReadable),
    'purple-60': (#9320a2, isReadable),
    'purple-70': (#71237c, isReadable),
    'purple-80': (#501e58, isReadable),
    'purple-90': (#3b1a40, isReadable),
    'violet-1': (#ece8f5, isReadable),
    'violet-10': (#e2d2f4, isReadable),
    'violet-20': (#d2b5f0, isReadable),
    'violet-30': (#bf93eb, isReadable),
    'violet-40': (#b07ce8, isReadable),
    'violet-50': (#9753e1, isReadable),
    'violet-60': (#7732bb, isReadable),
    'violet-70': (#602797, isReadable),
    'violet-80': (#44216a, isReadable),
    'violet-90': (#321c4c, isReadable),
    'indigo-1': (#e9e8ff, isReadable),
    'indigo-10': (#dcd4f7, isReadable),
    'indigo-20': (#c7b6f7, isReadable),
    'indigo-30': (#ae97f4, isReadable),
    'indigo-40': (#9b82f3, isReadable),
    'indigo-50': (#785ef0, isReadable),
    'indigo-60': (#5a3ec8, isReadable),
    'indigo-70': (#473793, isReadable),
    'indigo-80': (#352969, isReadable),
    'indigo-90': (#272149, isReadable),
    'gray-1': (#eaeaea, isReadable),
    'gray-10': (#d8d8d8, isReadable),
    'gray-20': (#c0bfc0, isReadable),
    'gray-30': (#a6a5a6, isReadable),
    'gray-40': (#949394, isReadable),
    'gray-50': (#777677, isReadable),
    'gray-60': (#595859, isReadable),
    'gray-70': (#464646, isReadable),
    'gray-80': (#343334, isReadable),
    'gray-90': (#272727, isReadable),
    'cool-gray-1': (#e3ecec, isReadable),
    'cool-gray-10': (#d0dada, isReadable),
    'cool-gray-20': (#b8c1c1, isReadable),
    'cool-gray-30': (#9fa7a7, isReadable),
    'cool-gray-40': (#8c9696, isReadable),
    'cool-gray-50': (#6f7878, isReadable),
    'cool-gray-60': (#535a5a, isReadable),
    'cool-gray-70': (#424747, isReadable),
    'cool-gray-80': (#343334, isReadable),
    'cool-gray-90': (#272727, isReadable),
    'warm-gray-1': (#efe9e9, isReadable),
    'warm-gray-10': (#e2d5d5, isReadable),
    'warm-gray-20': (#ccbcbc, isReadable),
    'warm-gray-30': (#b4a1a1, isReadable),
    'warm-gray-40': (#9e9191, isReadable),
    'warm-gray-50': (#7d7373, isReadable),
    'warm-gray-60': (#5f5757, isReadable),
    'warm-gray-70': (#4b4545, isReadable),
    'warm-gray-80': (#373232, isReadable),
    'warm-gray-90': (#2a2626, isReadable),
    'neutral-white-1': (#fcfcfc, isReadable),
    'neutral-white-2': (#f9f9f9, isReadable),
    'neutral-white-3': (#f6f6f6, isReadable),
    'neutral-white-4': (#f3f3f3, isReadable),
    'cool-white-1': (#fbfcfc, isReadable),
    'cool-white-2': (#f8fafa, isReadable),
    'cool-white-3': (#f4f7f7, isReadable),
    'cool-white-4': (#f0f4f4, isReadable),
    'warm-white-1': (#fdfcfc, isReadable),
    'warm-white-2': (#fbf8f8, isReadable),
    'warm-white-3': (#f9f6f6, isReadable),
    'warm-white-4': (#f6f3f3, isReadable),
    'black-100': (#000, isReadable),
    'white-0': (#fff, isReadable),
  ),
  flex: (
    'noValue': 0,
    'f1': 1 0 0,
    'f2': 2 0 0,
    'f3': 3 0 0,
    'f4': 4 0 0,
    'f5': 5 0 0,
    'f6': 6 0 0,
    'f7': 7 0 0,
    'f8': 8 0 0,
    'f9': 9 0 0,
    'f10': 10 0 0,
    'f11': 11 0 0,
    'fill': (1 0 0, isReadable),
    'fit': (0, isReadable),
  ),
  flexOrders: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    'first': (-1, isReadable),
    'last': (99, isReadable),
  ),
  fontWeights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  grid: (
    '05': $grid-05,
    '1': $grid-1,
    '105': $grid-105,
    '2': $grid-2,
    '3': $grid-3,
    '4': $grid-4,
    '5': $grid-5,
    '6': $grid-6,
    '7': $grid-7,
    '8': $grid-8,
    '9': $grid-9,
    '10': $grid-10,
    '15': $grid-15,
    '20': $grid-20,
    '25': $grid-25,
    '30': $grid-30,
    '40': $grid-40,
    '50': $grid-50,
  ),
  gridShort: (
    '05': $grid-05,
    '1': $grid-1,
    '105': $grid-105,
    '2': $grid-2,
    '3': $grid-3,
    '4': $grid-4,
  ),
  lineHeights: (
    'single': ($lh-single, isReadable),
    'hed': ($lh-hed, isReadable),
    'cap': ($lh-cap, isReadable),
    'body': ($lh-body, isReadable),
    'display': ($lh-display, isReadable),
  ),
  negGrid: (
    'n05': -#{$grid-05},
    'n1': -#{$grid-1},
    'n105': -#{$grid-105},
    'n2': -#{$grid-2},
    'n3': -#{$grid-3},
    'n4': -#{$grid-4},
    'n5': -#{$grid-5},
    'n6': -#{$grid-6},
    'n7': -#{$grid-7},
    'n8': -#{$grid-8},
    'n9': -#{$grid-9},
  ),
  negPixels: (
    'n1px': -1px,
    'n2px': -2px,
  ),
  percentage: (
    '10ct': 10%,
    '20ct': 20%,
    '25ct': 25%,
    '30ct': 30%,
    '33ct': 33.33333333%,
    '40ct': 40%,
    '50ct': 50%,
    '60ct': 60%,
    '66ct': 66.66666666%,
    '70ct': 70%,
    '75ct': 75%,
    '80ct': 80%,
    '90ct': 90%,
    '100ct': 100%,
  ),
  pixels: (
    '1px': 1px,
    '2px': 2px,
  ),
  typefaces: (
    'mono': ($font-mono, isReadable),
    'sans': ($font-sans, isReadable),
    'serif': ($font-serif, isReadable),
  ),
  typeScale: (
    mono-s1: (
      slug: 'mono-s1',
      isReadable: true,
      content: $mono-s1,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s2: (
      slug: 'mono-s2',
      isReadable: true,
      content: $mono-s2,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s3: (
      slug: 'mono-s3',
      isReadable: true,
      content: $mono-s3,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s4: (
      slug: 'mono-s4',
      isReadable: true,
      content: $mono-s4,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s5: (
      slug: 'mono-s5',
      isReadable: true,
      content: $mono-s5,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s6: (
      slug: 'mono-s6',
      isReadable: true,
      content: $mono-s6,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s7: (
      slug: 'mono-s7',
      isReadable: true,
      content: $mono-s7,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s8: (
      slug: 'mono-s8',
      isReadable: true,
      content: $mono-s8,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s9: (
      slug: 'mono-s9',
      isReadable: true,
      content: $mono-s9,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s10: (
      slug: 'mono-s10',
      isReadable: true,
      content: $mono-s10,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s11: (
      slug: 'mono-s11',
      isReadable: true,
      content: $mono-s11,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-s12: (
      slug: 'mono-s12',
      isReadable: true,
      content: $mono-s12,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    sans-s1: (
      slug: 'sans-s1',
      isReadable: true,
      content: $sans-s1,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s2: (
      slug: 'sans-s2',
      isReadable: true,
      content: $sans-s2,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s3: (
      slug: 'sans-s3',
      isReadable: true,
      content: $sans-s3,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s4: (
      slug: 'sans-s4',
      isReadable: true,
      content: $sans-s4,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s5: (
      slug: 'sans-s5',
      isReadable: true,
      content: $sans-s5,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s6: (
      slug: 'sans-s6',
      isReadable: true,
      content: $sans-s6,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s7: (
      slug: 'sans-s7',
      isReadable: true,
      content: $sans-s7,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s8: (
      slug: 'sans-s8',
      isReadable: true,
      content: $sans-s8,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s9: (
      slug: 'sans-s9',
      isReadable: true,
      content: $sans-s9,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s10: (
      slug: 'sans-s10',
      isReadable: true,
      content: $sans-s10,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s11: (
      slug: 'sans-s11',
      isReadable: true,
      content: $sans-s11,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-s12: (
      slug: 'sans-s12',
      isReadable: true,
      content: $sans-s12,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    serif-s1: (
      slug: 'serif-s1',
      isReadable: true,
      content: $serif-s1,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s2: (
      slug: 'serif-s2',
      isReadable: true,
      content: $serif-s2,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s3: (
      slug: 'serif-s3',
      isReadable: true,
      content: $serif-s3,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s4: (
      slug: 'serif-s4',
      isReadable: true,
      content: $serif-s4,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s5: (
      slug: 'serif-s5',
      isReadable: true,
      content: $serif-s5,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s6: (
      slug: 'serif-s6',
      isReadable: true,
      content: $serif-s6,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s7: (
      slug: 'serif-s7',
      isReadable: true,
      content: $serif-s7,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s8: (
      slug: 'serif-s8',
      isReadable: true,
      content: $serif-s8,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s9: (
      slug: 'serif-s9',
      isReadable: true,
      content: $serif-s9,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s10: (
      slug: 'serif-s10',
      isReadable: true,
      content: $serif-s10,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s11: (
      slug: 'serif-s11',
      isReadable: true,
      content: $serif-s11,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-s12: (
      slug: 'serif-s12',
      isReadable: true,
      content: $serif-s12,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
  ),
  zero-none: (
    '0': none,
  ),
  zero-zero: (
    '0': 0,
  ),
);
