$global_values: (
  auto: (
    auto: (auto, isReadable),
  ),
  breakpoints: (
    xs: ($breakpoint-xs, isReadable),
    sm: ($breakpoint-sm, isReadable),
    md: ($breakpoint-md, isReadable),
    lg: ($breakpoint-lg, isReadable),
    xl: ($breakpoint-xl, isReadable),
  ),
  colors: (
    blue: ($color-blue, isReadable),
    brightmint: ($color-brightmint, isReadable),
    cream: ($color-cream, isReadable),
    gold: ($color-gold, isReadable),
    green: ($color-green, isReadable),
    red: ($color-red, isReadable),
    trueblack: ($color-trueblack, isReadable),
    textblack: ($color-textblack, isReadable),
    darkgray: ($color-darkgray, isReadable),
    mediumgray: ($color-mediumgray, isReadable),
    mediumgray-trans: ($color-mediumgray-trans, isReadable),
    lightgray: ($color-lightgray, isReadable),
    lightestgray: ($color-lightestgray, isReadable),
    white: ($color-white, isReadable),
  ),
  flex: (
    f1: 1 0 0,
    f2: 2 0 0,
    f3: 3 0 0,
    f4: 4 0 0,
    f5: 5 0 0,
    f6: 6 0 0,
    f7: 7 0 0,
    f8: 8 0 0,
    f9: 9 0 0,
    f10: 10 0 0,
    f11: 11 0 0,
    fill: (1 0 0, isReadable),
    fit: (0, isReadable),
  ),
  flexOrders: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    first: (-1, isReadable),
    last: (99, isReadable),
  ),
  fontWeights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
  ),
  grid: (
    '05': $grid-05,
    '1': $grid-1,
    '105': $grid-105,
    '2': $grid-2,
    '3': $grid-3,
    '4': $grid-4,
    '5': $grid-5,
    '6': $grid-6,
    '7': $grid-7,
    '8': $grid-8,
    '9': $grid-9,
    '10': $grid-10,
    '15': $grid-15,
    '20': $grid-20,
    '25': $grid-25,
    '30': $grid-30,
    '40': $grid-40,
    '50': $grid-50,
  ),
  lineHeights: (
    single: ($lh-single, isReadable),
    hed: ($lh-hed, isReadable),
    cap: ($lh-cap, isReadable),
    body: ($lh-body, isReadable),
    display: ($lh-display, isReadable),
  ),
  negGrid: (
    n05: -#{$grid-05},
    n1: -#{$grid-1},
    n105: -#{$grid-105},
    n2: -#{$grid-2},
    n3: -#{$grid-3},
    n4: -#{$grid-4},
    n5: -#{$grid-5},
  ),
  negPixels: (
    n1px: -1px,
    n2px: -2px,
  ),
  percentage: (
    10ct: 10%,
    20ct: 20%,
    25ct: 25%,
    30ct: 30%,
    33ct: 33.33333333%,
    40ct: 40%,
    50ct: 50%,
    60ct: 60%,
    66ct: 66.66666666%,
    70ct: 70%,
    75ct: 75%,
    80ct: 80%,
    90ct: 90%,
    100ct: 100%,
  ),
  pixels: (
    1px: 1px,
    2px: 2px,
  ),
  typefaces: (
    mono: ($font-mono, isReadable),
    sans: ($font-sans, isReadable),
    serif: ($font-serif, isReadable),
  ),
  typeScale: (
    mono-s1: (
      slug: mono-s1,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s2: (
      slug: mono-s2,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s3: (
      slug: mono-s3,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s4: (
      slug: mono-s4,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s5: (
      slug: mono-s5,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s6: (
      slug: mono-s6,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s7: (
      slug: mono-s7,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s8: (
      slug: mono-s8,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s9: (
      slug: mono-s9,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    mono-s10: (
      slug: mono-s10,
      isReadable: true,
      content: $mono-s1,
      extends: mono,
    ),
    sans-s1: (
      slug: sans-s1,
      isReadable: true,
      content: $sans-s1,
      extends: sans,
    ),
    sans-s2: (
      slug: sans-s2,
      isReadable: true,
      content: $sans-s2,
      extends: sans,
    ),
    sans-s3: (
      slug: sans-s3,
      isReadable: true,
      content: $sans-s3,
      extends: sans,
    ),
    sans-s4: (
      slug: sans-s4,
      isReadable: true,
      content: $sans-s4,
      extends: sans,
    ),
    sans-s5: (
      slug: sans-s5,
      isReadable: true,
      content: $sans-s5,
      extends: sans,
    ),
    sans-s6: (
      slug: sans-s6,
      isReadable: true,
      content: $sans-s6,
      extends: sans,
    ),
    sans-s7: (
      slug: sans-s7,
      isReadable: true,
      content: $sans-s7,
      extends: sans,
    ),
    sans-s8: (
      slug: sans-s8,
      isReadable: true,
      content: $sans-s8,
      extends: 'sans'
    ),
    sans-s9: (
      slug: sans-s9,
      isReadable: true,
      content: $sans-s9,
      extends: sans,
    ),
    sans-s10: (
      slug: sans-s10,
      isReadable: true,
      content: $sans-s10,
      extends: sans,
    ),
    serif-s1: (
      slug: serif-s1,
      isReadable: true,
      content: $serif-s1,
      extends: serif,
    ),
    serif-s2: (
      slug: serif-s2,
      isReadable: true,
      content: $serif-s2,
      extends: serif,
    ),
    serif-s3: (
      slug: serif-s3,
      isReadable: true,
      content: $serif-s3,
      extends: serif,
    ),
    serif-s4: (
      slug: serif-s4,
      isReadable: true,
      content: $serif-s4,
      extends: serif,
    ),
    serif-s5: (
      slug: serif-s5,
      isReadable: true,
      content: $serif-s5,
      extends: serif,
    ),
    serif-s6: (
      slug: serif-s6,
      isReadable: true,
      content: $serif-s6,
      extends: serif,
    ),
    serif-s7: (
      slug: serif-s7,
      isReadable: true,
      content: $serif-s7,
      extends: serif,
    ),
    serif-s8: (
      slug: serif-s8,
      isReadable: true,
      content: $serif-s8,
      extends: serif,
    ),
    serif-s9: (
      slug: serif-s9,
      isReadable: true,
      content: $serif-s9,
      extends: serif,
    ),
    serif-s10: (
      slug: serif-s10,
      isReadable: true,
      content: $serif-s10,
      extends: serif,
    ),
  ),
  typeStyles: (
    italic: (italic, isReadable),
    underline: (underline, isReadable),
    strike: (strike, isReadable),
    uppercase: (uppercase, isReadable),
    lowercase: (lowercase, isReadable),
    capitalize: (capitalize, isReadable),
  ),
  zero-none: (
    '0': none,
  ),
  zero-zero: (
    '0': 0,
  ),
);
