*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  @extend .h100ct;
  font-size: 16px;
}

body {
  @extend .minh100ct;
}

// normalize all displayed text to system sans
body,
input,
select,
option,
textarea {
  @extend .sans-s5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend .m0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .lh-hed;
}

h1,
h2 {
  @extend .sans-s9;
}

h1 {
  @extend .fw700;
}

h2 {
  @extend .fw300;
}

p + p {
  @extend .mt2;
}

.tk {
  @extend .inline-block;
  @extend .bg-gray-20;
  @extend .br-rounded;
  @extend .my0;
  @extend .mrn1;
  @extend .h1em;
  @extend .w5ch;
  @extend .b0;
  @extend .va-text-bottom;
  &:nth-child(3n) {
    @extend .w2em;
  }
  &:nth-child(5n) {
    @extend .w3em;
  }
  &:nth-child(8n) {
    @extend .w05em;
  }
  &:nth-child(23n) {
    @extend .w4em;
  }
  &:last-child {
    @extend .w6em;
  }
}

p {
  .tk {
    @extend .w8em;
    &:nth-child(3n) {
      @extend .w2em;
    }
    &:nth-child(5n) {
      @extend .w7em;
    }
    &:nth-child(8n) {
      @extend .w05em;
    }
    &:nth-child(23n) {
      @extend .w10em;
    }
    &:last-child {
      @extend .w6em;
    }
  }
}

.justify {
  .tk {
    width: 2.5ch !important;
  }
}


// inputs

input[type="checkbox"],
input[type="radio"]
 {
  @extend .relative;
  @extend .va-baseline;
  @extend .inline-block;
  bottom: .125em;

  & + label {
    @extend .inline-block;
    @extend .mt0;
  }
}

input[type="radio"] + label {
  @extend .ml05;
}


[type=text],
[type=password],
[type=url],
[type=email],
[type=number],
textarea,
select {
  @extend .b1px;
  @extend .b-solid;
  @extend .b-gray-50;
  @extend .br0;
  @extend .sans-s5;
  @extend .textblack;
  @extend .block;
  @extend .h5;
  @extend .lh-cap;
  @extend .my05;
  @extend .maxw50;
  @extend .py05;
  @extend .px1;
  @extend .w100ct;
  @extend .fo-outline-05;
  @extend .fo-outline-gold-20;
  @extend .pl-sans-s5;
  @extend .pl-gray-30;
  @extend .pl-fw300;
  @extend .br-rounded;
  appearance: none;
}

label {
  @extend .block;
  @extend .mt2;
  @extend .maxw50;
}

a {
  @extend .fo-outline-05;
  @extend .fo-outline-gold-20;
}

button {
  @extend .fo-outline-05;
  @extend .fo-outline-gold-20;
  @extend .br-rounded;
  @extend .h5;
  @extend .px2;
  @extend .bg-blue-50;
  @extend .white;
  @extend .ho-bg-blue-60;
  @extend .b0;
  @extend .sans-s4;
  @extend .fw400;
  cursor: pointer;
}

textarea {
  @extend .h25;
}

select {
  @extend .bg-white;
  appearance: none;
  background-image: url('#{$image-path}/arrow-down.png');
  background-image: url('#{$image-path}/arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

fieldset {
  @extend .b0;
  @extend .mx0;
  @extend .mt4;
  @extend .p0;
}

legend {
  @extend .sans-s4;
  @extend .fw700;
  @extend .float-left;
  @extend .px0;
  @extend .pb1;

  & + * {
    @extend .clear;
  }
}

.ho-fill-ultramarine-60:hover {
  path {
    fill: #3151B7 !important;
  }
}

path {
  pointer-events: all;
}

.pointer {
  cursor: pointer;
}

svg {
  fill: currentColor;
}
