@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 100;
  src:
    url('#{$static-font-path}/UnitedSans-Thin.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Thin.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 100;
  src:
    url('#{$static-font-path}/UnitedSans-ThinItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-ThinItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 200;
  src:
    url('#{$static-font-path}/UnitedSans-ExtraLight.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-ExtraLight.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 200;
  src:
    url('#{$static-font-path}/UnitedSans-ExtraLightItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-ExtraLightItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 300;
  src:
    url('#{$static-font-path}/UnitedSans-Light.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Light.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 300;
  src:
    url('#{$static-font-path}/UnitedSans-LightItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-LightItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 400;
  src:
    url('#{$static-font-path}/UnitedSans-Regular.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Regular.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 400;
  src:
    url('#{$static-font-path}/UnitedSans-Italic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Italic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 500;
  src:
    url('#{$static-font-path}/UnitedSans-Medium.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Medium.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 500;
  src:
    url('#{$static-font-path}/UnitedSans-MediumItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-MediumItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 600;
  src:
    url('#{$static-font-path}/UnitedSans-SemiBold.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-SemiBold.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 600;
  src:
    url('#{$static-font-path}/UnitedSans-SemiBoldItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-SemiBoldItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 700;
  src:
    url('#{$static-font-path}/UnitedSans-Bold.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Bold.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 700;
  src:
    url('#{$static-font-path}/UnitedSans-BoldItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-BoldItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 800;
  src:
    url('#{$static-font-path}/UnitedSans-ExtraBold.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-ExtraBold.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 800;
  src:
    url('#{$static-font-path}/UnitedSans-ExtraBoldItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-ExtraBoldItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: normal;
  font-weight: 900;
  src:
    url('#{$static-font-path}/UnitedSans-Black.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-Black.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'United Sans webfont';
  font-style: italic;
  font-weight: 900;
  src:
    url('#{$static-font-path}/UnitedSans-BlackItalic.woff2') format('woff2'),
    url('#{$static-font-path}/UnitedSans-BlackItalic.woff') format('woff'),
    url('#{$static-font-path}/UnitedSans-BlackItalic.ttf') format('truetype');
}
