$global_values: (
  auto: (
    'auto': ('auto', isReadable),
  ),
  breakpoints: (
    'sm': ($breakpoint-sm, isReadable),
    'md': ($breakpoint-md, isReadable),
    'lg': ($breakpoint-lg, isReadable),
    'xl': ($breakpoint-xl, isReadable),
  ),
  ch: (
    '05ch': '.5ch',
    '1ch': '1ch',
    '105ch': '1.5ch',
    '2ch': '2ch',
    '3ch': '3ch',
    '4ch': '4ch',
    '5ch': '5ch',
  ),
  colors: (
    'transparent': ('transparent', isReadable),
    'blue': ($color-blue, isReadable),
    'brightmint': ($color-brightmint, isReadable),
    'cream': ($color-cream, isReadable),
    'gold': ($color-gold, isReadable),
    'green': ($color-green, isReadable),
    'red': ($color-red, isReadable),
    'trueblack': ($color-trueblack, isReadable),
    'textblack': ($color-textblack, isReadable),
    'darkgray': ($color-darkgray, isReadable),
    'mediumgray': ($color-mediumgray, isReadable),
    'mediumgray-trans': ($color-mediumgray-trans, isReadable),
    'lightgray': ($color-lightgray, isReadable),
    'lightestgray': ($color-lightestgray, isReadable),
    'white': ($color-white, isReadable),
  //
  //  system colors based on IBM Design Language colors
  //  https://github.com/IBM-Design/colors
  //
    'ultramarine-1': (#E8EBF7, isReadable),
    'ultramarine-10': (#D2DBF4, isReadable),
    'ultramarine-20': (#AFC1F3, isReadable),
    'ultramarine-30': (#89A2F6, isReadable),
    'ultramarine-40': (#648fff, isReadable),
    'ultramarine-50': (#2968D0, isReadable),
    'ultramarine-60': (#304FB3, isReadable),
    'ultramarine-70': (#2E3E8E, isReadable),
    'ultramarine-80': (#252E6A, isReadable),
    'ultramarine-90': (#20214F, isReadable),
    'blue-1': (#E1EBF8, isReadable),
    'blue-10': (#C7DAF5, isReadable),
    'blue-20': (#A7BFF5, isReadable),
    'blue-30': (#77A4F9, isReadable),
    'blue-40': (#4F8FFF, isReadable),
    'blue-50': (#216EE4, isReadable),
    'blue-60': (#056DD4, isReadable),
    'blue-70': (#23457C, isReadable),
    'blue-80': (#1C3359, isReadable),
    'blue-90': (#19263D, isReadable),
    'cerulean-1': (#DEEDF7, isReadable),
    'cerulean-10': (#C2DBF4, isReadable),
    'cerulean-20': (#95C4F3, isReadable),
    'cerulean-30': (#56ACF2, isReadable),
    'cerulean-40': (#009BEF, isReadable),
    'cerulean-50': (#006FBF, isReadable),
    'cerulean-60': (#175D8D, isReadable),
    'cerulean-70': (#1C496D, isReadable),
    'cerulean-80': (#1D364D, isReadable),
    'cerulean-90': (#1B2834, isReadable),
    'aqua-1': (#d1f0f7, isReadable),
    'aqua-10': (#a0e3f0, isReadable),
    'aqua-20': (#71cddd, isReadable),
    'aqua-30': (#00b6cb, isReadable),
    'aqua-40': (#12a3b4, isReadable),
    'aqua-50': (#027E9F, isReadable),
    'aqua-60': (#17616b, isReadable),
    'aqua-70': (#164d56, isReadable),
    'aqua-80': (#13393e, isReadable),
    'aqua-90': (#122a2e, isReadable),
    'teal-1': (#C0F5E8, isReadable),
    'teal-10': (#8EE9D4, isReadable),
    'teal-20': (#40D5BB, isReadable),
    'teal-30': (#00B9A0, isReadable),
    'teal-40': (#00A78F, isReadable),
    'teal-50': (#008673, isReadable),
    'teal-60': (#006456, isReadable),
    'teal-70': (#124F44, isReadable),
    'teal-80': (#133a32, isReadable),
    'teal-90': (#122b26, isReadable),
    'green-1': (#CAF4C7, isReadable),
    'green-10': (#91E48B, isReadable),
    'green-20': (#61CF59, isReadable),
    'green-30': (#16C20A, isReadable),
    'green-40': (#0BAF00, isReadable),
    'green-50': (#389400, isReadable),
    'green-60': (#397800, isReadable),
    'green-70': (#2D5C00, isReadable),
    'green-80': (#184215, isReadable),
    'green-90': (#162915, isReadable),
    'lime-1': (#D7F4BD, isReadable),
    'lime-10': (#B4E876, isReadable),
    'lime-20': (#95D13C, isReadable),
    'lime-30': (#81B532, isReadable),
    'lime-40': (#73A22C, isReadable),
    'lime-50': (#5B8121, isReadable),
    'lime-60': (#426200, isReadable),
    'lime-70': (#374C1A, isReadable),
    'lime-80': (#283912, isReadable),
    'lime-90': (#1F2A10, isReadable),
    'yellow-1': (#fbeaae, isReadable),
    'yellow-10': (#fed500, isReadable),
    'yellow-20': (#e3bc13, isReadable),
    'yellow-30': (#c6a21a, isReadable),
    'yellow-40': (#b3901f, isReadable),
    'yellow-50': (#91721f, isReadable),
    'yellow-60': (#70541b, isReadable),
    'yellow-70': (#584019, isReadable),
    'yellow-80': (#452f18, isReadable),
    'yellow-90': (#372118, isReadable),
    'gold-1': (#f5e8db, isReadable),
    'gold-10': (#FFC116, isReadable),
    'gold-20': (#F4B400, isReadable),
    'gold-30': (#e39d14, isReadable),
    'gold-40': (#c4881c, isReadable),
    'gold-50': (#9c6d1e, isReadable),
    'gold-60': (#74521b, isReadable),
    'gold-70': (#5b421c, isReadable),
    'gold-80': (#3F2E1A, isReadable),
    'gold-90': (#2F261C, isReadable),
    'orange-1': (#FFECD5, isReadable),
    'orange-10': (#FFD3A2, isReadable),
    'orange-20': (#FFA64F, isReadable),
    'orange-30': (#fe8500, isReadable),
    'orange-40': (#db7c00, isReadable),
    'orange-50': (#ad6418, isReadable),
    'orange-60': (#814b19, isReadable),
    'orange-70': (#653d1b, isReadable),
    'orange-80': (#482e1a, isReadable),
    'orange-90': (#33241c, isReadable),
    'peach-1': (#f7e7e2, isReadable),
    'peach-10': (#f8d0c3, isReadable),
    'peach-20': (#faad96, isReadable),
    'peach-30': (#fc835c, isReadable),
    'peach-40': (#FF5200, isReadable),
    'peach-50': (#B94700, isReadable),
    'peach-60': (#993a1d, isReadable),
    'peach-70': (#782f1c, isReadable),
    'peach-80': (#56251a, isReadable),
    'peach-90': (#3a201b, isReadable),
    'terra-1': (#F5EAE2, isReadable),
    'terra-10': (#E8D0BF, isReadable),
    'terra-20': (#EAA076, isReadable),
    'terra-30': (#E67548, isReadable),
    'terra-40': (#EE601D, isReadable),
    'terra-50': (#E44608, isReadable),
    'terra-60': (#76452D, isReadable),
    'terra-70': (#59402F, isReadable),
    'terra-80': (#3F342D, isReadable),
    'terra-90': (#2C2724, isReadable),
    'red-1': (#f7e6e6, isReadable),
    'red-10': (#fccec7, isReadable),
    'red-20': (#FDA99C, isReadable),
    'red-30': (#ff806c, isReadable),
    'red-40': (#ff5c49, isReadable),
    'red-50': (#DD0E07, isReadable),
    'red-60': (#aa231f, isReadable),
    'red-70': (#83231e, isReadable),
    'red-80': (#5c1f1b, isReadable),
    'red-90': (#3e1d1b, isReadable),
    'magenta-1': (#f5e7eb, isReadable),
    'magenta-10': (#f5cedb, isReadable),
    'magenta-20': (#f7aac3, isReadable),
    'magenta-30': (#F77EAB, isReadable),
    'magenta-40': (#F04B95, isReadable),
    'magenta-50': (#dc267f, isReadable),
    'magenta-60': (#a91560, isReadable),
    'magenta-70': (#831b4c, isReadable),
    'magenta-80': (#5d1a38, isReadable),
    'magenta-90': (#401a29, isReadable),
    'purple-1': (#f7e4fb, isReadable),
    'purple-10': (#efcef3, isReadable),
    'purple-20': (#e4adea, isReadable),
    'purple-30': (#d68adf, isReadable),
    'purple-40': (#cb71d7, isReadable),
    'purple-50': (#C12DD4, isReadable),
    'purple-60': (#813F7D, isReadable),
    'purple-70': (#632F60, isReadable),
    'purple-80': (#501e58, isReadable),
    'purple-90': (#3b1a40, isReadable),
    'violet-1': (#ece8f5, isReadable),
    'violet-10': (#e2d2f4, isReadable),
    'violet-20': (#d2b5f0, isReadable),
    'violet-30': (#BF93EB, isReadable),
    'violet-40': (#b07ce8, isReadable),
    'violet-50': (#9753e1, isReadable),
    'violet-60': (#7732bb, isReadable),
    'violet-70': (#602797, isReadable),
    'violet-80': (#44216a, isReadable),
    'violet-90': (#321c4c, isReadable),
    'coastal-1': (#EBEBFA, isReadable),
    'coastal-10': (#CECFF3, isReadable),
    'coastal-20': (#AAABEE, isReadable),
    'coastal-30': (#8C8DE3, isReadable),
    'coastal-40': (#7072DB, isReadable),
    'coastal-50': (#5558D5, isReadable),
    'coastal-60': (#3435A8, isReadable),
    'coastal-70': (#2B2C88, isReadable),
    'coastal-80': (#242561, isReadable),
    'coastal-90': (#1A1B3C, isReadable),
    'indigo-1': (#e9e8ff, isReadable),
    'indigo-10': (#DBD3F6, isReadable),
    'indigo-20': (#C3B2F2, isReadable),
    'indigo-30': (#AE97F4, isReadable),
    'indigo-40': (#9b82f3, isReadable),
    'indigo-50': (#785EEF, isReadable),
    'indigo-60': (#5a3ec8, isReadable),
    'indigo-70': (#473793, isReadable),
    'indigo-80': (#352969, isReadable),
    'indigo-90': (#272149, isReadable),
    'gray-1': (#EEE, isReadable),
    'gray-10': (#DDD, isReadable),
    'gray-20': (#CCC, isReadable),
    'gray-30': (#AAA, isReadable),
    'gray-40': (#999, isReadable),
    'gray-50': (#777, isReadable),
    'gray-60': (#555, isReadable),
    'gray-70': (#444, isReadable),
    'gray-80': (#333, isReadable),
    'gray-90': (#222, isReadable),
    'cool-gray-1': (#e3ecec, isReadable),
    'cool-gray-10': (#d0dada, isReadable),
    'cool-gray-20': (#b8c1c1, isReadable),
    'cool-gray-30': (#9fa7a7, isReadable),
    'cool-gray-40': (#8c9696, isReadable),
    'cool-gray-50': (#6f7878, isReadable),
    'cool-gray-60': (#535a5a, isReadable),
    'cool-gray-70': (#424747, isReadable),
    'cool-gray-80': (#343334, isReadable),
    'cool-gray-90': (#272727, isReadable),
    'warm-gray-1': (#F5F5F0, isReadable),
    'warm-gray-10': (#E0E0D1, isReadable),
    'warm-gray-20': (#D6D6C2, isReadable),
    'warm-gray-30': (#C3C3AC, isReadable),
    'warm-gray-40': (#B0B096, isReadable),
    'warm-gray-50': (#98987C, isReadable),
    'warm-gray-60': (#7B7B65, isReadable),
    'warm-gray-70': (#535346, isReadable),
    'warm-gray-80': (#31312B, isReadable),
    'warm-gray-90': (#131311, isReadable),
    'neutral-white-1': (#fcfcfc, isReadable),
    'neutral-white-2': (#f9f9f9, isReadable),
    'neutral-white-3': (#f6f6f6, isReadable),
    'neutral-white-4': (#f3f3f3, isReadable),
    'cool-white-1': (#fbfcfc, isReadable),
    'cool-white-2': (#f8fafa, isReadable),
    'cool-white-3': (#f4f7f7, isReadable),
    'cool-white-4': (#f0f4f4, isReadable),
    'warm-white-1': (#FDFDFC, isReadable),
    'warm-white-2': (#FAFAF8, isReadable),
    'warm-white-3': (#F7F7F3, isReadable),
    'warm-white-4': (#F5F5F0, isReadable),
    'black-100': (#000, isReadable),
    'white-0': (#fff, isReadable),
  ),
  em: (
    '05em': '.5em',
    '1em': '1em',
    '105em': '1.5em',
    '2em': '2em',
    '3em': '3em',
    '4em': '4em',
    '5em': '5em',
    '6em': '6em',
    '7em': '7em',
    '8em': '8em',
    '9em': '9em',
    '10em': '10em',
  ),
  flex: (
    'f1': 1 0 0,
    'f2': 2 0 0,
    'f3': 3 0 0,
    'f4': 4 0 0,
    'f5': 5 0 0,
    'f6': 6 0 0,
    'f7': 7 0 0,
    'f8': 8 0 0,
    'f9': 9 0 0,
    'f10': 10 0 0,
    'f11': 11 0 0,
    'fill': (1 0 0, isReadable),
    'fit': (0, isReadable),
  ),
  flexOrders: (
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    'first': (-1, isReadable),
    'last': (99, isReadable),
  ),
  fontWeights: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  grid: (
    '05': $grid-05,
    '1': $grid-1,
    '105': $grid-105,
    '2': $grid-2,
    '205': $grid-205,
    '3': $grid-3,
    '4': $grid-4,
    '5': $grid-5,
    '6': $grid-6,
    '7': $grid-7,
    '8': $grid-8,
    '9': $grid-9,
    '10': $grid-10,
    '15': $grid-15,
    '20': $grid-20,
    '25': $grid-25,
    '30': $grid-30,
    '40': $grid-40,
    '50': $grid-50,
  ),
  gridShort: (
    '05': $grid-05,
    '1': $grid-1,
    '105': $grid-105,
    '2': $grid-2,
    '3': $grid-3,
    '4': $grid-4,
  ),
  lineHeights: (
    'single': ($lh-single, isReadable),
    'hed': ($lh-hed, isReadable),
    'cap': ($lh-cap, isReadable),
    'body': ($lh-body, isReadable),
    'body-loose': ($lh-body-loose, isReadable),
    'body-tight': ($lh-body-tight, isReadable),
  ),
  negCh: (
    'n05ch': '-.5ch',
    'n1ch': '-1ch',
    'n105ch': '-1.5ch',
    'n2ch': '-2ch',
    'n3ch': '-3ch',
    'n4ch': '-4ch',
    'n5ch': '-5ch',
  ),
  negGrid: (
    'n05': -#{$grid-05},
    'n1': -#{$grid-1},
    'n105': -#{$grid-105},
    'n2': -#{$grid-2},
    'n3': -#{$grid-3},
    'n4': -#{$grid-4},
    'n5': -#{$grid-5},
    'n6': -#{$grid-6},
    'n7': -#{$grid-7},
    'n8': -#{$grid-8},
    'n9': -#{$grid-9},
  ),
  negPixels: (
    'n1px': -1px,
    'n2px': -2px,
  ),
  percentage: (
    '10ct': 10%,
    '20ct': 20%,
    '25ct': 25%,
    '30ct': 30%,
    '33ct': 33.33333333%,
    '40ct': 40%,
    '50ct': 50%,
    '60ct': 60%,
    '66ct': 66.66666666%,
    '70ct': 70%,
    '75ct': 75%,
    '80ct': 80%,
    '90ct': 90%,
    '100ct': 100%,
  ),
  pixels: (
    '1px': 1px,
    '2px': 2px,
  ),
  pseudoclasses: (
    'ac': ':active',
    'fo': ':focus',
    'ho': ':hover',
    'vi': ':visited',
  ),
  typefaces: (
    'mono': ($font-mono, isReadable),
    'sans': ($font-sans, isReadable),
    'serif': ($font-serif, isReadable),
  ),
  typeScale: (
    mono-1: (
      slug: 'mono-1',
      isReadable: true,
      content: $mono-1,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-2: (
      slug: 'mono-2',
      isReadable: true,
      content: $mono-2,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-3: (
      slug: 'mono-3',
      isReadable: true,
      content: $mono-3,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-4: (
      slug: 'mono-4',
      isReadable: true,
      content: $mono-4,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-5: (
      slug: 'mono-5',
      isReadable: true,
      content: $mono-5,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-6: (
      slug: 'mono-6',
      isReadable: true,
      content: $mono-6,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-7: (
      slug: 'mono-7',
      isReadable: true,
      content: $mono-7,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-8: (
      slug: 'mono-8',
      isReadable: true,
      content: $mono-8,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-9: (
      slug: 'mono-9',
      isReadable: true,
      content: $mono-9,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-10: (
      slug: 'mono-10',
      isReadable: true,
      content: $mono-10,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-11: (
      slug: 'mono-11',
      isReadable: true,
      content: $mono-11,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    mono-12: (
      slug: 'mono-12',
      isReadable: true,
      content: $mono-12,
      extend: (
        property: 'font-family',
        value: $font-mono,
      ),
    ),
    sans-1: (
      slug: 'sans-1',
      isReadable: true,
      content: $sans-1,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-2: (
      slug: 'sans-2',
      isReadable: true,
      content: $sans-2,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-3: (
      slug: 'sans-3',
      isReadable: true,
      content: $sans-3,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-4: (
      slug: 'sans-4',
      isReadable: true,
      content: $sans-4,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-5: (
      slug: 'sans-5',
      isReadable: true,
      content: $sans-5,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-6: (
      slug: 'sans-6',
      isReadable: true,
      content: $sans-6,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-7: (
      slug: 'sans-7',
      isReadable: true,
      content: $sans-7,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-8: (
      slug: 'sans-8',
      isReadable: true,
      content: $sans-8,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-9: (
      slug: 'sans-9',
      isReadable: true,
      content: $sans-9,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-10: (
      slug: 'sans-10',
      isReadable: true,
      content: $sans-10,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-11: (
      slug: 'sans-11',
      isReadable: true,
      content: $sans-11,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-12: (
      slug: 'sans-12',
      isReadable: true,
      content: $sans-12,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-13: (
      slug: 'sans-13',
      isReadable: true,
      content: $sans-13,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-14: (
      slug: 'sans-14',
      isReadable: true,
      content: $sans-14,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-15: (
      slug: 'sans-15',
      isReadable: true,
      content: $sans-15,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-16: (
      slug: 'sans-16',
      isReadable: true,
      content: $sans-16,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-17: (
      slug: 'sans-17',
      isReadable: true,
      content: $sans-17,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-18: (
      slug: 'sans-18',
      isReadable: true,
      content: $sans-18,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-19: (
      slug: 'sans-19',
      isReadable: true,
      content: $sans-19,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    sans-20: (
      slug: 'sans-20',
      isReadable: true,
      content: $sans-20,
      extend: (
        property: 'font-family',
        value: $font-sans,
      ),
    ),
    serif-1: (
      slug: 'serif-1',
      isReadable: true,
      content: $serif-1,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-2: (
      slug: 'serif-2',
      isReadable: true,
      content: $serif-2,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-3: (
      slug: 'serif-3',
      isReadable: true,
      content: $serif-3,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-4: (
      slug: 'serif-4',
      isReadable: true,
      content: $serif-4,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-5: (
      slug: 'serif-5',
      isReadable: true,
      content: $serif-5,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-6: (
      slug: 'serif-6',
      isReadable: true,
      content: $serif-6,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-7: (
      slug: 'serif-7',
      isReadable: true,
      content: $serif-7,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-8: (
      slug: 'serif-8',
      isReadable: true,
      content: $serif-8,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-9: (
      slug: 'serif-9',
      isReadable: true,
      content: $serif-9,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-10: (
      slug: 'serif-10',
      isReadable: true,
      content: $serif-10,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-11: (
      slug: 'serif-11',
      isReadable: true,
      content: $serif-11,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
    serif-12: (
      slug: 'serif-12',
      isReadable: true,
      content: $serif-12,
      extend: (
        property: 'font-family',
        value: $font-serif,
      ),
    ),
  ),
  zero-none: (
    '0': none,
  ),
  zero-zero: (
    '0': 0,
  ),
);
