//  GLOBAL VARIABLES

// --------------------------------------------------
// Grid

// spacing is calculated on multiples of a
// base grid (unitless, but assumed px)

$grid-base:           8 !default; // unitless, but px

// establishes the base type size (16px) for
// rem calculations
$grid-type:           16 !default; // unitless, but px

// calculates multiples of the base grid in units of rem
// grid($gridMultiple)

$grid-05:             grid(.5);    // 4px
$grid-1:              grid(1);     // 8px
$grid-105:            grid(1.5);   // 12px
$grid-2:              grid(2);     // 16px
$grid-205:            grid(2.5);   // 20px
$grid-3:              grid(3);     // 24px
$grid-4:              grid(4);     // 32px
$grid-5:              grid(5);     // 40px
$grid-6:              grid(6);     // 48px
$grid-7:              grid(7);     // 56px
$grid-8:              grid(8);     // 64px
$grid-9:              grid(9);     // 72px
$grid-10:             grid(10);    // 80px
$grid-15:             grid(15);    // 80px
$grid-20:             grid(20);    // 160px
$grid-25:             grid(25);    // 160px
$grid-30:             grid(30);    // 240px
$grid-40:             grid(40);    // 320px
$grid-50:             grid(50);    // 400px

$grid-n05:            grid(-0.5);   // 4px
$grid-n1:             grid(-1);     // 8px
$grid-n105:           grid(-1.5);   // 12px
$grid-n2:             grid(-2);     // 16px
$grid-n3:             grid(-3);     // 24px
$grid-n4:             grid(-4);     // 32px
$grid-n5:             grid(-5);     // 40px

// --------------------------------------------------
// Breakpoints

$breakpoint-sm-grid:  50;     // 400px
$breakpoint-md-grid:  75;     // 600px
$breakpoint-lg-grid:  100;    // 800px
$breakpoint-xl-grid:  140;    // 1200px

$breakpoint-xs:       null;
$breakpoint-sm:       grid($breakpoint-sm-grid);
$breakpoint-md:       grid($breakpoint-md-grid);
$breakpoint-lg:       grid($breakpoint-lg-grid);
$breakpoint-xl:       grid($breakpoint-xl-grid);

// --------------------------------------------------
// Widths

$nav-width-grid:      75 !default;     // 600px;
$site-max-width-grid:  75 !default;    // 1040px;

$nav-width:           grid($nav-width-grid);
$site-max-width:      grid($site-max-width-grid);
$text-max-width:      36em;
$text-narrow-width:   17em;

// --------------------------------------------------
// Colors

// violet
$color-violet-1 : #f5f3f8;
$color-violet-10: #dbd2ec;
$color-violet-20: #c8bae6;
$color-violet-30: #ae97db;
$color-violet-40: #9e83d4;
$color-violet-50: #8369b5;
$color-violet-60: #5f4a8a;
$color-violet-70: #4b3b6b;
$color-violet-80: #392d52;
$color-violet-90: #2d2340;
$color-violet-30v: #be95e9;
$color-violet-40v: #b07bed;
$color-violet-50v: #9455dd;
$color-violet-60v: #7639b8;
// indigo
$color-indigo-1 : #e9e9fa;
$color-indigo-10: #dad5ef;
$color-indigo-20: #c1b5e6;
$color-indigo-30: #ac9ce2;
$color-indigo-40: #9988dd;
$color-indigo-50: #7766d3;
$color-indigo-60: #5947ae;
$color-indigo-70: #463c81;
$color-indigo-80: #352e5c;
$color-indigo-90: #2a263d;
$color-indigo-30v: #b59eff;
$color-indigo-40v: #9980ff;
$color-indigo-50v: #7560eb;
$color-indigo-60v: #5740d1;
// coastal
$color-coastal-1 : #ebebf7;
$color-coastal-10: #cfd0eb;
$color-coastal-20: #acade0;
$color-coastal-30: #989ad6;
$color-coastal-40: #8081d1;
$color-coastal-50: #686dca;
$color-coastal-60: #373b91;
$color-coastal-70: #2e3176;
$color-coastal-80: #252855;
$color-coastal-90: #1b1b36;
$color-coastal-20v: #acaeec;
$color-coastal-30v: #8c8fe1;
$color-coastal-50v: #656bd7;
$color-coastal-60v: #353aa5;
// marine
$color-marine-1 : #f5f6fc;
$color-marine-10: #d4dcee;
$color-marine-20: #b3c2e8;
$color-marine-30: #90a4e4;
$color-marine-40: #6f91e6;
$color-marine-50: #4a70d9;
$color-marine-60: #3a529e;
$color-marine-70: #33417d;
$color-marine-80: #28305c;
$color-marine-90: #212346;
$color-marine-40v: #6694ff;
// blue
$color-blue-1 : #e3ebf5;
$color-blue-10: #cbdaee;
$color-blue-20: #adc0e9;
$color-blue-30: #81a5e5;
$color-blue-40: #5e91e5;
$color-blue-50: #3d75c2;
$color-blue-60: #2d548a;
$color-blue-70: #2b4469;
$color-blue-80: #273245;
$color-blue-90: #202733;
$color-blue-40v: #5291ff;
$color-blue-50v: #2673df;
$color-blue-60v: #0052de;
// sky
$color-sky-1 : #deedf7;
$color-sky-10: #c7dbed;
$color-sky-20: #9fc4e7;
$color-sky-30: #68abe0;
$color-sky-40: #3098d8;
$color-sky-50: #257abb;
$color-sky-60: #295c80;
$color-sky-70: #274864;
$color-sky-80: #233547;
$color-sky-90: #233547;
$color-sky-30v: #57b3ff;
$color-sky-40v: #009afa;
$color-sky-50v: #0078d4;
$color-sky-60v: #0059b3;
// cyan
$color-cyan-1 : #d7eff4;
$color-cyan-10: #ade0ea;
$color-cyan-20: #83cad5;
$color-cyan-30: #35b0bf;
$color-cyan-40: #379eab;
$color-cyan-50: #16808e;
$color-cyan-60: #275e66;
$color-cyan-70: #214b51;
$color-cyan-80: #1c383b;
$color-cyan-90: #172b2d;
$color-cyan-10v: #61e7ff;
$color-cyan-20v: #38d6f2;
$color-cyan-30v: #2db5d1;
// teal
$color-teal-1 : #ebfcfa;
$color-teal-10: #9fe3dd;
$color-teal-20: #5fcfc5;
$color-teal-30: #35b0a6;
$color-teal-40: #30a199;
$color-teal-50: #21827f;
$color-teal-60: #19615f;
$color-teal-70: #1e4c44;
$color-teal-80: #133b39;
$color-teal-90: #172b2b;
$color-teal-1v: #dbfff8;
$color-teal-10v: #7efce1;
$color-teal-20v: #02dbc2;
$color-teal-30v: #00baa4;
// mint
$color-mint-1 : #cafcec;
$color-mint-10: #79f7cd;
$color-mint-20: #49e3b0;
$color-mint-30: #4ac79d;
$color-mint-40: #36a882;
$color-mint-50: #1e8461;
$color-mint-60: #266644;
$color-mint-70: #225237;
$color-mint-80: #1d3b29;
$color-mint-90: #1d3b29;
$color-mint-1v: #befde9;
$color-mint-10v: #30f8b5;
$color-mint-20v: #06ec9f;
$color-mint-30v: #04c786;
$color-mint-60v: #16754f;
// green
$color-green-1 : #d1f1cf;
$color-green-10: #9fde9b;
$color-green-20: #74c76f;
$color-green-30: #3db83b;
$color-green-40: #33a531;
$color-green-50: #3d841f;
$color-green-60: #355b1b;
$color-green-70: #2b4a17;
$color-green-80: #233318;
$color-green-90: #192918;
$color-green-1v: #caf4c7;
$color-green-10v: #91e48b;
$color-green-20v: #61cf59;
$color-green-30v: #16c20a;
$color-green-40v: #0caf00;
// lime
$color-lime-1 : #e3ebd5;
$color-lime-10: #ccdfa6;
$color-lime-20: #9dcb5e;
$color-lime-30: #87b050;
$color-lime-40: #7a9d47;
$color-lime-50: #607f35;
$color-lime-60: #465f1b;
$color-lime-70: #394924;
$color-lime-80: #2a371a;
$color-lime-90: #212915;
$color-lime-1v: #d7f4bd;
$color-lime-10v: #b4e876;
$color-lime-20v: #93cc2e;
$color-lime-30v: #81b532;
$color-lime-40v: #73a22b;
// citron
$color-citron-1 : #f2f6b9;
$color-citron-10: #e5f05a;
$color-citron-20: #ced74f;
$color-citron-30: #aab952;
$color-citron-40: #839a3e;
$color-citron-50: #6f7c41;
$color-citron-60: #575b3d;
$color-citron-70: #46482c;
$color-citron-80: #323422;
$color-citron-90: #28281e;
$color-citron-1v: #f3f8a7;
$color-citron-10v: #e6f50f;
$color-citron-20v: #cedc0a;
$color-citron-30v: #a9bd2d;
$color-citron-40v: #7f9e1d;
// yellow
$color-yellow-1 : #f7e9bd;
$color-yellow-10: #f4d350;
$color-yellow-20: #dabb4b;
$color-yellow-30: #bea145;
$color-yellow-40: #ab8f41;
$color-yellow-50: #8a7237;
$color-yellow-60: #69542b;
$color-yellow-70: #544024;
$color-yellow-80: #422f1e;
$color-yellow-90: #33231b;
$color-yellow-10v: #fdd430;
$color-yellow-20v: #edc730;
// gold
$color-gold-1 : #faf2e3;
$color-gold-10: #e3ca9d;
$color-gold-20: #d1b488;
$color-gold-30: #c09b70;
$color-gold-40: #a9875f;
$color-gold-50: #8d6f4e;
$color-gold-60: #69533b;
$color-gold-70: #54432f;
$color-gold-80: #423525;
$color-gold-90: #2b251d;
$color-gold-10v: #ffc116;
$color-gold-20v: #f4b401;
$color-gold-30v: #e39d14;
$color-gold-40v: #c4881d;
$color-gold-50v: #946f38;
// orange
$color-orange-1 : #fbebdb;
$color-orange-10: #f6d4af;
$color-orange-20: #eea869;
$color-orange-30: #e8883b;
$color-orange-40: #c97e34;
$color-orange-50: #a56931;
$color-orange-60: #774c29;
$color-orange-70: #5e3e26;
$color-orange-80: #432f20;
$color-orange-90: #30251e;
$color-orange-1v: #ffebd5;
$color-orange-10v: #ffd3a2;
$color-orange-20v: #ffa64f;
$color-orange-30v: #e87e26;
// peach
$color-peach-1 : #fae6db;
$color-peach-10: #fccbb6;
$color-peach-20: #fca681;
$color-peach-30: #fc8856;
$color-peach-40: #e8703b;
$color-peach-50: #be5727;
$color-peach-60: #893f2c;
$color-peach-70: #6c3226;
$color-peach-80: #4e261e;
$color-peach-90: #35221e;
$color-peach-20v: #faad96;
$color-peach-30v: #fc835c;
$color-peach-40v: #ff5201;
// terra
$color-terra-1 : #f3eae4;
$color-terra-10: #e8cfbc;
$color-terra-20: #dca284;
$color-terra-30: #d2795b;
$color-terra-40: #d6633c;
$color-terra-50: #c7532c;
$color-terra-60: #6d4735;
$color-terra-70: #544133;
$color-terra-80: #39312d;
$color-terra-90: #2b2825;
$color-terra-20v: #eaa076;
$color-terra-30v: #e67549;
$color-terra-40v: #ee601d;
$color-terra-50v: #df4206;
// red
$color-red-1 : #f4e7e7;
$color-red-10: #f4d0cb;
$color-red-20: #eeada3;
$color-red-30: #e98678;
$color-red-40: #e36459;
$color-red-50: #d83731;
$color-red-60: #942a2a;
$color-red-70: #742926;
$color-red-80: #52231f;
$color-red-90: #381f1d;
$color-red-10v: #fccec7;
$color-red-20v: #fda99c;
$color-red-30v: #ff806c;
$color-red-40v: #ff5c48;
$color-red-50v: #e92106;
$color-red-60v: #aa231f;
// magenta
$color-magenta-1 : #f3e8eb;
$color-magenta-10: #eed0da;
$color-magenta-20: #eaaec2;
$color-magenta-30: #e385a8;
$color-magenta-40: #d6568f;
$color-magenta-50: #c84180;
$color-magenta-60: #93275b;
$color-magenta-70: #742348;
$color-magenta-80: #4f1d32;
$color-magenta-90: #3a1d28;
$color-magenta-10v: #ffd1e2;
$color-magenta-20v: #ffadca;
$color-magenta-30v: #ff80ae;
$color-magenta-40v: #fa3c91;
$color-magenta-50v: #e1277a;
$color-magenta-60v: #a91b61;
// purple
$color-purple-1 : #f4e6f7;
$color-purple-10: #ead1ed;
$color-purple-20: #dcb2e0;
$color-purple-30: #cb91d1;
$color-purple-40: #be79c7;
$color-purple-50: #b14bbe;
$color-purple-60: #854180;
$color-purple-70: #61365f;
$color-purple-80: #452942;
$color-purple-90: #30212f;
$color-purple-1v: #fdedff;
$color-purple-10v: #f9c9ff;
$color-purple-20v: #f3a8ff;
$color-purple-30v: #ee82ff;
$color-purple-40v: #e05ef7;
$color-purple-50v: #c132d4;
// black-cool
$color-black-cool-1 : #edeff0;
$color-black-cool-10: #d5d8db;
$color-black-cool-20: #b8bdc2;
$color-black-cool-30: #9da2a6;
$color-black-cool-40: #8c9196;
$color-black-cool-50: #6f7478;
$color-black-cool-60: #525659;
$color-black-cool-70: #424547;
$color-black-cool-80: #323537;
$color-black-cool-90: #252729;
// black
$color-black-1 : #fafafa;
$color-black-10: #e6e6e6;
$color-black-20: #c9c9c9;
$color-black-30: #adadad;
$color-black-40: #919191;
$color-black-50: #757575;
$color-black-60: #5c5c5c;
$color-black-70: #454545;
$color-black-80: #2e2e2e;
$color-black-90: #171717;
// black-warm
$color-black-warm-1 : #f5f5f1;
$color-black-warm-10: #e0e0d4;
$color-black-warm-20: #d6d5c6;
$color-black-warm-30: #c3c2b1;
$color-black-warm-40: #969583;
$color-black-warm-50: #6f6f5d;
$color-black-warm-60: #5f5e4f;
$color-black-warm-70: #4f4f42;
$color-black-warm-80: #3d3d35;
$color-black-warm-90: #1d1d1b;
// black-trans
$color-black-trans-1 : rgba(0,0,0,0.01);
$color-black-trans-10: rgba(0,0,0,0.1);
$color-black-trans-20: rgba(0,0,0,0.2);
$color-black-trans-30: rgba(0,0,0,0.3);
$color-black-trans-40: rgba(0,0,0,0.4);
$color-black-trans-50: rgba(0,0,0,0.5);
$color-black-trans-60: rgba(0,0,0,0.6);
$color-black-trans-70: rgba(0,0,0,0.7);
$color-black-trans-80: rgba(0,0,0,0.8);
$color-black-trans-90: rgba(0,0,0,0.9);
// white-cool
$color-white-cool-1 : #fafbfc;
$color-white-cool-2 : #f7f9fa;
$color-white-cool-3 : #f5f6f7;
$color-white-cool-4 : #f0f2f5;
// white
$color-white-0 : #ffffff;
$color-white-1 : #fcfcfc;
$color-white-2 : #f9f9f9;
$color-white-3 : #f6f6f6;
$color-white-4 : #f3f3f3;
// white-warm
$color-white-warm-1 : #fdfdfc;
$color-white-warm-2 : #fafaf8;
$color-white-warm-3 : #f7f7f3;
$color-white-warm-4 : #f5f5f0;
// black
$color-black-100: #000000;



// --------------------------------------------------
// Paths

$static-font-path: '../fonts' !default;
$image-path: '/' !default;

// --------------------------------------------------
// Typefaces

$font-sans:           'United Sans webfont',
                      system,
                      -apple-system,
                      BlinkMacSystemFont,
                      'Roboto',
                      'Helvetica Neue',
                      'Helvetica',
                      'Arial',
                      sans-serif;

$font-serif:          'Georgia',
                      'Cambria',
                      'Times New Roman',
                      'Times',
                      serif;

$font-mono:           'Roboto Mono',
                      'Bitstream Vera Sans Mono',
                      'Consolas',
                      'Courier',
                      monospace;

// 500px 'N' height measured in Sketch

$united-capheight:        364px;
$georgia-capheight:       346px;
$merriweather-capheight:  372px;
$roboto-mono-capheight:   380px;
$source-sans-capheight:   326px;

$sans-capHeight:          $united-capheight;
$serif-capHeight:         $georgia-capheight;
$mono-capHeight:          $roboto-mono-capheight;



// --------------------------------------------------
// Type scale

$s1:                  12px; // +1
$s2:                  13px; // +1
$s3:                  14px; // +1
$s4:                  15px; // +1
$s5:                  16px; // +1
$s6:                  17px; // +1
$s7:                  18px; // +2
$s8:                  20px; // +2
$s9:                  22px; // +2
$s10:                 24px; // +4
$s11:                 28px; // +4
$s12:                 32px; // +4
$s13:                 36px; // +4
$s14:                 40px; // +8
$s15:                 48px; // +8
$s16:                 56px; // +8
$s17:                 64px; // +16
$s18:                 80px; // +40
$s19:                 120px; // +20
$s20:                 140px;

$mono-1:   typeScale($mono-capHeight, $s1);
$mono-2:   typeScale($mono-capHeight, $s2);
$mono-3:   typeScale($mono-capHeight, $s3);
$mono-4:   typeScale($mono-capHeight, $s4);
$mono-5:   typeScale($mono-capHeight, $s5);
$mono-6:   typeScale($mono-capHeight, $s6);
$mono-7:   typeScale($mono-capHeight, $s7);
$mono-8:   typeScale($mono-capHeight, $s8);
$mono-9:   typeScale($mono-capHeight, $s9);
$mono-10:  typeScale($mono-capHeight, $s10);
$mono-11:  typeScale($mono-capHeight, $s11);
$mono-12:  typeScale($mono-capHeight, $s12);
$mono-13:  typeScale($mono-capHeight, $s13);
$mono-14:  typeScale($mono-capHeight, $s14);
$mono-15:  typeScale($mono-capHeight, $s15);
$mono-16:  typeScale($mono-capHeight, $s16);
$mono-17:  typeScale($mono-capHeight, $s17);
$mono-18:  typeScale($mono-capHeight, $s18);
$mono-19:  typeScale($mono-capHeight, $s19);
$mono-20:  typeScale($mono-capHeight, $s20);

$sans-1:   typeScale($sans-capHeight, $s1);
$sans-2:   typeScale($sans-capHeight, $s2);
$sans-3:   typeScale($sans-capHeight, $s3);
$sans-4:   typeScale($sans-capHeight, $s4);
$sans-5:   typeScale($sans-capHeight, $s5);
$sans-6:   typeScale($sans-capHeight, $s6);
$sans-7:   typeScale($sans-capHeight, $s7);
$sans-8:   typeScale($sans-capHeight, $s8);
$sans-9:   typeScale($sans-capHeight, $s9);
$sans-10:  typeScale($sans-capHeight, $s10);
$sans-11:  typeScale($sans-capHeight, $s11);
$sans-12:  typeScale($sans-capHeight, $s12);
$sans-13:  typeScale($sans-capHeight, $s13);
$sans-14:  typeScale($sans-capHeight, $s14);
$sans-15:  typeScale($sans-capHeight, $s15);
$sans-16:  typeScale($sans-capHeight, $s16);
$sans-17:  typeScale($sans-capHeight, $s17);
$sans-18:  typeScale($sans-capHeight, $s18);
$sans-19:  typeScale($sans-capHeight, $s19);
$sans-20:  typeScale($sans-capHeight, $s20);

$serif-1:   typeScale($serif-capHeight, $s1);
$serif-2:   typeScale($serif-capHeight, $s2);
$serif-3:   typeScale($serif-capHeight, $s3);
$serif-4:   typeScale($serif-capHeight, $s4);
$serif-5:   typeScale($serif-capHeight, $s5);
$serif-6:   typeScale($serif-capHeight, $s6);
$serif-7:   typeScale($serif-capHeight, $s7);
$serif-8:   typeScale($serif-capHeight, $s8);
$serif-9:   typeScale($serif-capHeight, $s9);
$serif-10:  typeScale($serif-capHeight, $s10);
$serif-11:  typeScale($serif-capHeight, $s11);
$serif-12:  typeScale($serif-capHeight, $s12);
$serif-13:  typeScale($serif-capHeight, $s13);
$serif-14:  typeScale($serif-capHeight, $s14);
$serif-15:  typeScale($serif-capHeight, $s15);
$serif-16:  typeScale($serif-capHeight, $s16);
$serif-17:  typeScale($serif-capHeight, $s17);
$serif-18:  typeScale($serif-capHeight, $s18);
$serif-19:  typeScale($serif-capHeight, $s19);
$serif-20:  typeScale($serif-capHeight, $s20);

// --------------------------------------------------
// Line height

$lh-single:           1;
$lh-hed:              1.15;
$lh-cap:              1.3;
$lh-body-tight:       1.5;
$lh-body:             1.618;
$lh-body-loose:       1.75;

// --------------------------------------------------
// Letter-spacing

$lsn3:                -.03em;
$lsn2:                -.02em;
$lsn1:                -.01em;
$ls1:                 .05em;
$ls2:                 .1em;
$ls3:                 .15em;

// --------------------------------------------------
// Border radius

$border-radius:       2px !default;
